$font-family-sans-serif: "Karla";
$font-size-base: 1.05rem; // Assumes the browser default, typically `16px`
$headings-font-weight: 700;
$line-height-base: 1.5;

// Colors
$blue:   #12A4FB;
$teal:   #00A699;
$red: #FF5A5F;

$grid-gutter-width-base:     20px;
$border-width: 2px;

// Text
$gray-dark:                 #546573;
$gray:                      #6E8497;
$gray-light:                #97B7D1;
$gray-lighter:              #E7ECF0;
$gray-lightest:             #f7f7f9;
$headings-color:           #2C4458;
$font-weight-normal:       300;
$hr-border-color: #E2EAF1;
// Links
$link-color: $gray-dark;
$link-hover-color: $teal;
$link-hover-decoration: none;

// Forms
$input-padding-x:                .75rem;
$input-padding-y:                .75rem;
$input-line-height:              1;
$input-color:                    $gray-dark;
$input-border-color:             $gray-lighter;
$input-color-placeholder:        $gray-lighter;

// Check
$custom-control-focus-indicator-box-shadow: none;
$custom-control-indicator-size:       1.1rem ;

// Breadcrumb
$breadcrumb-bg:   none;
$breadcrumb-divider:            "›";


// Badge
$badge-padding-x:             .6em;
$badge-padding-y:             .4em;

// List Group
$list-group-border-color:        $gray-lighter;

// Radius
$border-radius:          .25rem;
$border-radius-sm:       .2rem;
$border-radius-lg:       .2rem;

// Buttons
$btn-padding-x:                  1.5rem;
$btn-padding-y:                  .35rem;
$btn-padding-x-sm:               1rem;
$btn-padding-y-sm:               .40rem;
$btn-padding-x-lg:               1.75rem;
$btn-padding-y-lg:               .5rem;
$btn-line-height:                1.25;
$btn-font-weight:                700;

$btn-secondary-color:            #FFF;
$btn-secondary-bg:               #FFF;
$btn-secondary-border:           #FFF;


// Alerts
$state-danger-text:              darken($red, 30%);
$state-danger-bg:                lighten($red, 30%);
$state-danger-border:            lighten($red, 25%);


// Settings
$enable-print-styles: false;
