@import 'variables';

.dropzone {
  width: 100%;
  background: lighten($gray-lighter, 1%);
  border: 2px dotted darken($gray-lighter, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: background-color 0.5s;
  cursor: pointer;
  &:hover {
    background: darken($gray-lighter, 5%);
  }
}

.dropzone:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
