@import 'variables';

footer  {
  border-top: 1px solid $gray-lighter;
  margin-bottom: 50px;
  padding-top: 2rem;
  a {
    border: none;
    display: block;
  }
  h6 {
    margin-bottom: 1rem;
  }

  .logo {
    height: 1.4rem; margin-bottom: 0.5rem
  }

}
