@import 'variables';

.listing {

  &-photo {
    width: 100%; height: 200px; margin-bottom: 0.5rem;  background-size: cover; background-position: center;
    background-image: url('/public/interior.jpg');
    background-color: $gray-lighter;
  }

  &-image-lg {
    transition: background-image 1.2s ease-in-out;
  }

  &-area {
    width: 100%;
    height: 250px;
    margin-bottom: 1.1rem;
    background-size: cover;
    background-position: center;
    background-image: url('/public/interior.jpg');
    background-color: $gray-lighter;
    position:relative;
    cursor: pointer;
  }

  &-area-overlay {
    width:100%;
    height: 100%;
    position: absolute;
    background:  linear-gradient(60deg, #003660, #00457c);
    opacity: 0.8;

  }

  &-area-caption {
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 3rem;
    color: #FFF;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    padding: 0.5rem;
    line-height: 1.3;
    transition: opacity 0.3s;
    text-align: center;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
  }

  // Icons
  &-icon-lg {
    height: 2.7rem; float: left; margin-right: 1rem;
  }
  &-icon-sm {
    height: 1.7rem; float: left; margin-right: 1rem;
  }
  &-icon-facility {
    height: 1.8rem; margin-right: 1rem; display:block;margin: auto; margin-bottom:0.5rem;
  }

  // Listing Page
  &-landlord-avatar {
    width: 60px; height: 60px; background-image: url('/public/profile.jpg'); background-size: cover; background-position: center; border-radius: 100%; display: inline-block; float:left; margin-right: 1rem;
  }

  &-thumbnail {
    width: 100px; height: 100px; background-size: cover; background-position: center; margin-top: 1rem; margin-right: 0.5rem; display: flex; opacity:0.6; cursor: pointer; transition: opacity 0.3s;
    background-color: $gray-lighter;
    &.active {
      opacity: 1;
      &:hover {opacity: 1; cursor: default;}
    }
    &:hover {
      opacity: 0.8;
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .listing-thumbnail { width: 100px; height: 100px; }
  .listing-area-caption {margin-top: 0.5rem;}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .listing-thumbnail { width: 100px; height: 100px; }
  .listing-area-caption {margin-top: 2rem;}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .listing-thumbnail { width: 100px; height: 100px; }
  .listing-area-caption {margin-top: 3rem;}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .listing-thumbnail { width: 118px; height: 110px; }
}
