@import 'variables';

body {
  -webkit-font-smoothing: antialiased;
}


.hr-md {
  margin-top: 1.5rem; margin-bottom: 1.5rem;
}

.hr-lg {
  margin-top: 2rem; margin-bottom: 2rem;
}


.spacer {
  padding: 0.5125rem 0;
}

.spacer-sm {
  padding: 0.125rem 0;
}

.spacer-lg {
  padding: 1rem 0;
}

.badge {
  border-radius: 100%;
}

.btn-sm {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

strong {
  font-weight: bold;
}
button {
  cursor: pointer;
}
input[type=submit] {
  cursor: pointer;
}

code {
  background-color: $gray-lighter;
  color: $teal;
}

.btn-toggle {
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.btn-outline-secondary {
  &:hover {
    color: $blue;
  }
}

// Toggle Switch
.switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}


input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}
