@import 'variables';

.messages {
  &-wrapper {
    border: 1px solid $gray-lighter;
    border-radius: 6px;
  }
  .contacts {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid $gray-lighter;
  }
  .contact {
    margin: 1px;
    padding: 0.5rem;
    border-bottom: 1px solid $gray-lighter;
    display: flex;
    align-items: center;
    line-height: 1.2;
    &:hover {
      background: lighten($gray-lighter, 5%);
      cursor: pointer;
    }


    &:first-child {
      border-top-left-radius: 6px;
    }


    &.active {
      background: $blue;
      font-weight: bold;
      color: #FFF;
    }
  }

  .contact-avatar {
    background-color: $gray-lighter;
    background-position: center;
    background-size: cover;
    width: 38px;
    height: 38px;
    background-image: url('/public/profile.jpg');

    border-radius: 100px;
    margin: 0 0.5rem;
    display: inline-block;
    flex-shrink: 0;
  }
  .message {
    background: $gray-lighter;
    padding: 0.5rem;
    border-radius: 6px;
  }

  .message-wrapper {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: nowrap;

    &.inverse {
      flex-direction: row-reverse;
      .message {
        background-color: $blue;
        color: #FFF;
        a {
          color :#FFF;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }

  .conversation {
    height: 480px;
    padding: 1rem;
    padding-bottom: 7rem;
    overflow-y: auto;

    &-input {
      bottom: 0;
      padding: 0.5rem;
      padding-right: 120px;
      font-family: "Karla";
      color: $gray-dark;
      font-size: 1rem;
      outline: 0;
      border: 0;
      border-top: 1px solid $gray-lighter;
      width: 100%;
      position: absolute;
      resize: none;
      height: 100px;
      overflow: hidden;

    }
  }

  .btn-send {
    position: absolute;
    bottom: 34px;
    right: 1.5rem;
  }
}
