
@import 'variables';

.navbar {
  background: #FFF;
  border-bottom: 1px solid $gray-lighter;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.08);
  z-index: 10;
  opacity: 0.95;

}

.navbar a {
  border: 0;

}

.nav-item a {
    font-size: 0.9rem;
  &:hover {
    color: $blue ;
  }
}



.navbar .btn {
  border-radius: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 1rem;
}


.nav-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 1rem;
  transform: translateY(1px);
  border-bottom:3px solid #FFF;
  font-weight: bold;
  &:hover {
    color: $blue !important;
  }
}

.nav-link.active {
  font-weight: bold;
  border-bottom:3px solid $blue;
  &:hover {
    color: black !important;
  }
}

.nav-item .avatar {
  width: 36px;
  height: 36px;
  display: flex;
  right: 1rem;
  top: 0;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-color: $gray-lighter;
  cursor: pointer;
}

.avatar-dropdown {
  position: absolute;
  right: 1rem;
  margin-top: 9px;
  border: 1px solid $gray-lighter;
  background: #FFF;
  padding: 0;
  font-size: 0.9rem;
  text-align: right;

  li {
    width: 100%;
    list-style-type: none;
    a {
      display: block;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $gray-lighter;
      cursor: pointer;
      &:hover {
        background: $gray-lightest;
      }
    }

  }
}

.beacon {
  transform: translateY(1px)
}
