.profile {
  &-photo {
    background-image: url('/public/interior.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 200px;
    display: inline-block;
    border-radius: 1000px;
  }
  &-photo:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
