@import 'variables';

.section {
  width: 100%;
  background-color: $gray-lighter;
  text-align: center;
  background-position: center;
  background-size: cover;
  position: relative;
  color:#FFF;
  h2 {
    color: #FFF;
  }
}

.section-overlay {
  width:100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(60deg, #003660, #00457c);
//   background: linear-gradient(60deg, $blue, $teal);
  opacity: 0.45;
}


.section-container {
  padding: 7rem 0;
}
