@import 'variables';

.user-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  margin-top: 60px;
  background:  #FFF;
  border-right: 1px solid $gray-lighter;
  height: 100%;
  padding-left: 0;
  align-items: center;
  z-index: 9;
  li {
    text-align: center;
    a {
      display: block;
      padding: 5px;
      height:70px;
      width: 100%;
      list-style-type: none;
      border-bottom: 1px solid $gray-lighter;
      transition: background-color 0.4s, color 0.3s;
      font-size: 70%;
      letter-spacing: -0.4px;
      &:hover{
        background: $gray-lightest;
        color: $blue;
      }
    }
    a.active {
      background: $blue;
      color: #FFF;
      border-bottom: 1px solid $blue;
      box-shadow: -5px 1px 10px 0px rgba(0,0,0,0.2);
      transition: background-color 0.4s;
      &:hover{
        background: $blue;

      }
    }
    i {
      margin: auto;
      font-size: 180%;
      display: block;
      line-height: 1;
      margin-top: 8px;
      margin-bottom: -2px;
    }
  }
}
