.dropzone {
  width: 100%;
  background: #eaeef2;
  border: 2px dotted #c8d3dc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: background-color 0.5s;
  cursor: pointer; }
  .dropzone:hover {
    background: #d7e0e6; }

.dropzone:after {
  content: "";
  display: block;
  padding-bottom: 100%; }
