footer {
  border-top: 1px solid #E7ECF0;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 2rem; }
  footer a {
    border: none;
    display: block; }
  footer h6 {
    margin-bottom: 1rem; }
  footer .logo {
    height: 1.4rem;
    margin-bottom: 0.5rem; }
