.listing-photo {
  width: 100%;
  height: 200px;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-position: center;
  background-image: url("/public/interior.jpg");
  background-color: #E7ECF0; }

.listing-image-lg {
  transition: background-image 1.2s ease-in-out; }

.listing-area {
  width: 100%;
  height: 250px;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-position: center;
  background-image: url("/public/interior.jpg");
  background-color: #E7ECF0;
  position: relative;
  cursor: pointer; }

.listing-area-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(60deg, #003660, #00457c);
  /* background: linear-gradient(60deg, #12A4FB, #00A699); */
  opacity: 0.6; }

.listing-area-caption {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #FFF;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
  transition: opacity 0.3s;
  text-align: center;
  opacity: 0.8; }
  .listing-area-caption:hover {
    opacity: 1; }

.listing-icon-lg {
  height: 2.7rem;
  width: 2.7rem;
  float: left;
  margin-right: 1rem; }

.listing-icon-sm {
  height: 1.7rem;
  float: left;
  margin-right: 1rem; }

.listing-icon-facility {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1rem;
  display: block;
  margin: auto;
  margin-bottom: 0.5rem; }

.listing-icon-facility-text {
  height: 5rem;
  display: block;
}

.listing-landlord-avatar {
  width: 100px;
  height: 100px;
  background-image: url("/public/profile.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  display: inline-block;
  float: left;
  margin-right: 1rem; }

.listing-thumbnail {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  margin-top: 1rem;
  margin-right: 0.5rem;
  display: flex;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s;
  background-color: #E7ECF0; }
  .listing-thumbnail.active {
    opacity: 1; }
    .listing-thumbnail.active:hover {
      opacity: 1;
      cursor: default; }
  .listing-thumbnail:hover {
    opacity: 0.8; }

@media (min-width: 576px) {
  .listing-thumbnail {
    width: 100px;
    height: 100px; } }

@media (min-width: 768px) {
  .listing-thumbnail {
    width: 100px;
    height: 100px; } }

@media (min-width: 992px) {
  .listing-thumbnail {
    width: 100px;
    height: 100px; } }

@media (min-width: 1200px) {
  .listing-thumbnail {
    width: 118px;
    height: 110px; } }
