body {
  -webkit-font-smoothing: antialiased; }

.hr-md {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.hr-lg {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.spacer {
  padding: 0.5125rem 0; }

.spacer-sm {
  padding: 0.125rem 0; }

.spacer-lg {
  padding: 1rem 0; }

.badge {
  border-radius: 100%; }

.btn-sm {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem; }

.text-bold {
  font-weight: 700; }

.text-center {
  text-align: center; }

strong {
  font-weight: bold; }

button {
  cursor: pointer; }

input[type=submit] {
  cursor: pointer; }

code {
  background-color: #E7ECF0;
  color: #00A699; }

.btn-toggle {
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  cursor: pointer; }
