.messages-wrapper {
  border: 1px solid #E7ECF0;
  border-radius: 6px; }

.messages .contacts {
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #E7ECF0; }

.messages .contact {
  margin: 1px;
  padding: 0.5rem;
  border-bottom: 1px solid #E7ECF0;
  display: flex;
  align-items: center;
  line-height: 1.2; }
  .messages .contact:hover {
    background: #f7f8fa;
    cursor: pointer; }
  .messages .contact:first-child {
    border-top-left-radius: 6px; }
  .messages .contact.active {
    background: #12A4FB;
    font-weight: bold;
    color: #FFF; }

.messages .contact-avatar {
  background-color: #E7ECF0;
  background-position: center;
  background-size: cover;
  width: 38px;
  height: 38px;
  background-image: url("/public/profile.jpg");
  border-radius: 100px;
  margin: 0 0.5rem;
  display: inline-block;
  flex-shrink: 0; }

.messages .message {
  background: #E7ECF0;
  padding: 0.5rem;
  border-radius: 6px; }

.messages .message-wrapper {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: nowrap; }
  .messages .message-wrapper.inverse {
    flex-direction: row-reverse; }
    .messages .message-wrapper.inverse .message {
      background-color: #12A4FB;
      color: #FFF; }
      .messages .message-wrapper.inverse .message a {
        color: #FFF;
        font-weight: bold;
        text-decoration: underline; }

.messages .conversation {
  height: 480px;
  padding: 1rem;
  padding-bottom: 5rem;
  overflow: auto; }
  .messages .conversation-input {
    bottom: 0;
    padding: 0.5rem;
    padding-right: 100px;
    font-family: "Karla";
    color: #546573;
    font-size: 1rem;
    outline: 0;
    border: 0;
    border-top: 1px solid #E7ECF0;
    width: 100%;
    position: absolute; }

.messages .btn-send {
  position: absolute;
  bottom: 18px;
  right: 1rem; }
