.navbar {
  background: #FFF;
  border-bottom: 1px solid #E7ECF0;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.08);
  z-index: 10; }

.navbar a {
  border: 0; }

.nav-item a {
  font-size: 0.9rem; }
  .nav-item a:hover {
    color: #12A4FB; }

.navbar .btn {
  border-radius: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 1rem; }
