.please-wait {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #6E8497;
  background: #FFF;
  z-index: 5;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .please-wait i {
    color: #FFF; }
  .please-wait .logo {
    width: 120px;
    margin: 1rem;
    animation: pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
