.profile-photo {
  background-image: url("/public/interior.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 3px; }

.profile-photo:after {
  content: "";
  display: block;
  padding-bottom: 100%; }
