.user-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  margin-top: 60px;
  background: #FFF;
  border-right: 1px solid #E7ECF0;
  height: 100%;
  padding-left: 0;
  align-items: center;
  z-index: 9; }
  .user-nav li {
    text-align: center; }
    .user-nav li a {
      display: block;
      padding: 5px;
      height: 70px;
      width: 100%;
      list-style-type: none;
      border-bottom: 1px solid #E7ECF0;
      transition: background-color 0.4s, color 0.3s;
      font-size: 70%;
      letter-spacing: -0.4px; }
      .user-nav li a:hover {
        background: #f7f7f9;
        color: #12A4FB; }
    .user-nav li a.active {
      background: #12A4FB;
      color: #FFF;
      border-bottom: 1px solid #12A4FB;
      box-shadow: -5px 1px 10px 0px rgba(0, 0, 0, 0.2);
      transition: background-color 0.4s; }
      .user-nav li a.active:hover {
        background: #12A4FB; }
    .user-nav li i {
      margin: auto;
      font-size: 180%;
      display: block;
      line-height: 1;
      margin-top: 8px;
      margin-bottom: -2px; }
