{% extends './layout/layout.html' %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-7 col-lg-8">
        <h2>{{listing.address.streetName}}, {{listing.address.postalCode}}</h2>
        <div class="lead">{{listing.buildingName}}</div>
      </div>
      <div class="col-sm-3 col-lg-4">
        Price:
        <h2 class="text-secondary" >${{(listing.rent/100).toLocaleString()}}</h2>
      </div>
    </div>
    <!-- Content -->
    <div class="spacer"></div>
    <div class="row">
      <div class="col-sm-6">
        <img src="/public/icons/house.svg" alt="" class="listing-icon-lg">
        Housing Type: <br>
        <span class="text-secondary text-bold">{{listing.housingType.name}}</span>
      </div>
      <div class="col-sm-6" >
        <img src="/public/icons/size.svg" alt="" class="listing-icon-lg">
        Lease Type: <br>
        <span class="text-secondary text-bold">{{listing.leaseType.name}}</span>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <div class="col-sm-6">
        <img src="/public/icons/bath.svg" alt="" class="listing-icon-sm">
        <span class="text-secondary text-bold">{{listing.bathrooms}}</span> Bathrooms
      </div>
      <div class="col-sm-6" >
        <img src="/public/icons/bed.svg" alt="" class="listing-icon-sm">
        <span class="text-secondary text-bold">{{listing.bedrooms}}</span> Bedrooms
      </div>
    </div>
    <hr class="hr-md">
    <!-- Landlord -->
    <div class="listing-landlord-avatar" style="background-image: url('{{listing.landlord.photoUrl}}'); "></div>
    <h5>{{listing.landlord.displayName}}</h5>
    <div class="clearfix"></div>
    <hr class="hr-md">
  </div>
  <div class="col-md-6">
    <img src="{{listing.photos[0].url}}" class="btn-block" alt="">

    <div class="d-flex justify-content-between flex-wrap">
      {% for photo in listing.photos %}
        <div class="listing-thumbnail" style="background-image: url('{{photo.thumb_url}}'); "></div>
      {% endfor %}
    </div>

  </div>

</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYbTU_dCUkDEA7bsmcpNNfvFSWpT_-S_4&callback=initMap"
  type="text/javascript"></script>

{% endblock %}
