{% extends './layout/layout.html' %}

{% block content %}

  <h2>Popular Listings</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius id accusantium ratione, reiciendis suscipit eum nemo voluptatum tempora eaque quod rerum officiis veniam saepe quis quos natus asperiores sint mollitia.</p>
  <div class="row">
      {% for listing in listings %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a href="/listing/{{listing.key}}">
          <div class="listing-photo" style="background-image: url({{listing.photos[0].url}})"></div>
        </a>
        <p>
          <span class="lead text-bold text-primary">{{listing.area}}</span> <br>
          {{listing.address.buildingName}} <br>
          {{listing.address.streetName}}, {{listing.address.postalCode}} <br>
          — <br>
          {{listing.leaseType.name}} <br>
          {{listing.housingType.name}} <br>
          {{listing.leaseLengthPref.name}} <br>
          — <br>
          <span class="text-secondary text-bold">${{(listing.rent/100).toLocaleString()}}</span> <br>

          <a href="/listing/{{listing.key}}">Details</a>
        </p>
        <div class="spacer-lg"></div>
      </div>

      {% endfor %}
  </div>
  <div class="spacer-lg"></div>
{% endblock %}
