<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="/public/logo.svg" alt="" class="logo"> <br>
        <small class="text-muted">
          All rights reserved © 2017 <br>
          ​Krib Online Pte Ltd
        </small>
      </div>
      <div class="col-md-3">
        <div class="spacer hidden-md-up"></div>
        <h6 class="text-primary">Company</h6>
        <a href="/about">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy</a>
      </div>
      <div class="col-md-3">
        <div class="spacer hidden-md-up"></div>
        <h6 class="text-primary">Landlords / Agents</h6>
        <a href="#">Why list with us?</a>
        <a href="#">Landlord Guide</a>
        <a href="#">​Download App</a>
      </div>
      <div class="col-md-3">
        <div class="spacer hidden-md-up"></div>
        <h6 class="text-primary">Tenants</h6>
        <a href="#">Rent safely with Krib</a>
        <a href="#">Tenant Guide</a>
      </div>

    </div>

  </div>
</footer>
