<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Krib - Handpicked Property Listings</title>
	<meta name="description" content="{{description}}">
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
				new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-MSCF727');
	</script>
	<!-- End Google Tag Manager -->
	<meta name="description" content="Finding your ideal home is now much simpler. We will search through thousands of listings daily to find the perfect matches for you.">
	<title>Krib - Handpicked Property Listings</title>
	<meta property="og:title" content="Krib - Handpicked Property Listings" />
	<meta property="og:image" content="/public/interior.jpg" />
	<meta property="og:url" content="http://www.krib.co" />
	<meta property="og:site_name" content="Krib - Handpicked Property Listings" />
	<meta property="og:description" content="Finding your ideal home is now much simpler. We will search through thousands of listings daily to find the perfect matches for you."
	/>
	<link rel="stylesheet" href="/public/css/style.css">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8Vdnn2eHtsnjIr_yhoo9MaikMdBuaoSo" async defer></script>
	<script src="/dist/vendor.js"></script>
	<script src="/dist/normalize.js"></script>
	<script src="/dist/manifest.js"></script>
	<script src="/dist/main.js" async defer></script>

	<!-- BEGIN PRIVY WIDGET CODE -->
	<script type='text/javascript'>
		var _d_site = _d_site || 'A75D165FCFB159699F1E5A1F';
	</script>
	<script src='//widget.privy.com/assets/widget.js'></script>
	<!-- END PRIVY WIDGET CODE -->
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSCF727" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div id="root">
		{% include "./nav.html" %}
		<div class="container" style="margin-top: 10px;">
			{% block content %} {% endblock %}
		</div>
		{% include "./footer.html" %}

	</div>
	<div id="recaptcha"></div>




</body>

</html>