<br>
<hr class="hr-lg">
<br>
<h5>Information</h5>
<p>Located on the southeast corner of Singapore, Bedok is strategically positioned between the CBD, <a href="http://singaporeexpo.com.sg/">Singapore Expo</a>,
	Changi Business Park and <a href="http://www.changiairport.com/en/transport/public-transport.html">Changi Airport</a>, hence
	its popularity with tenants who constantly shuttle between offices in the east and central Singapore.
</p>
<br>

<div class="row">
	<div class="col-sm-5">
		<img src="/public/images/areas/Bedok.jpg" class="btn-block">
	</div>
	<div class="col-sm-7">
		<h5>Residential District</h5>
		<p>Bedok has a good mix of HDB and private condominiums and landed housing. <a href="http://www.hdb.gov.sg/cs/infoweb/residential/renting-a-flat/renting-from-the-open-market/rental-statistics"
			 target="_blank">HDB median rent ranges $1,750 (3-room flat) to $2,400 (5-room flat)</a>, comparable to the large HDB estate
			of neighbouring Tampines. Median rent is also cheaper than the Marine Parade estate located further south near the coast,
			which is anyway easily reached from Bedok bus interchange.</p>
		<p>URA rental data shows a high volume of registered rental transactions, with <a href="https://www.ura.gov.sg/realEstateIIWeb/resiRental/search.action"
			 target="_blank">rent ranging from S$1,700 (Eco, 600-700 sqft) to $6,700 (Archipelago, 2500 - 2600 sqft)</a>. Overall,
			median rent is S$2,500 for condominium leases, with higher-end condominium projects located closer to the coast.</p>
	</div>
</div>
<br>
<div>
	<h5>Dining</h5>
	<p>Bedok has excellent dining options at the town centre beside Bedok MRT station, from <a href="http://bedokmall.com.sg/en/stores/eat/restaurant/"
		 target="_blank">casual eateries in the malls</a> to affordable food at <a href="https://www.burpple.com/bedok-hawker-centre"
		 target="_blank">two hawker centres in vicinity (Bedok Interchange hawker centre and Bedok North hawker centre)</a>. Heading
		eastwards, cafes and eateries in the bustling <a href="http://www.east-village.sg/food-beverage/" target="_blank">East Village</a>		cater to those late night hunger pangs.</p>
	<p>For a change of scenery, residents can also visit East Coast Park to enjoy the cool breeze while dining at East Coast food
		centre or any of the
		<a="https://www.nparks.gov.sg/activities/dining/tenants" target="_blank">restaurants that line East Coast beach</a>.</p>
	<br>
	<h5>Retail</h5>
	<p>Between the shopping centres of <a href="http://bedokmall.com.sg/en/stores/" target="_blank">Bedok Mall</a> and <a href="http://www.fraserscentrepointmalls.com/store.php?MallFilter=4&CategoryID=594&Mode=Name&Mode=Name"
		 target="_blank">Bedok Point</a>, small shops sell a wide range of products and services to cater to residents. Large department
		store <a href="http://www.harveynorman.com.sg/store-finder.html" target="_blank">Harvey Norman</a> sells electronics and
		appliances in Bedok Point, and both <a href="http://www.shengsiong.com.sg/pages/store-locator.html#global1" target="_blank">Sheng Siong</a>		and <a href="https://www.fairprice.com.sg/webapp/wcs/stores/servlet/AjaxStoreLocatorDisplayView?storeId=10001" target="_blank">NTUC Fairprice supermarkets</a>		are just minutes away from the MRT station on foot.</p>
	<p>Conveniently, the sports megastore <a href="http://www.decathlon.sg/c/42-our-retail-stores" target="_blank">Decathlon</a>		is located a half kilometer down the main New Upper Changi Road, and sells a wide range of affordable hiking and sports
		apparel and products.</p>
	<br>
	<h5>Transport</h5>
	<p>The Bedok MRT station is the fastest way to get around Singapore, and is located at the heart of Bedok. For more direct
		routes, many buses ply the main and side roads inside the residential district.</p>
	<p>Some popular routes are:</p>
	<ul>
		<li>2 - New Bridge Road to Changi Village</li>
		<li>24 - Ang Mo Kio to Bedok (loop service)</li>
		<li>31 - Tampines to Toa Payoh</li>
		<li>67 - Choa Chu Kang to Tampines</li>
		<li>155 - Toa Payoh to Bedok</li>
	</ul>
	<p><a href="http://www.transitlink.com.sg/eservice/eguide/road_info.php?road_name=Bedok+Nth+Ave+3" target="_blank">More bus services here</a>.</p>
	<p>It is also worth noting that for office workers heading to Changi Business Park, many companies arrange for shuttle buses
		from just outside Tanah Merah MRT station.</p>
	<br>
	<h5>Amenities</h5>
	<p>Affordable healthcare is right at the doorstep for residents of Bedok, with <a href="https://polyclinic.singhealth.com.sg/AboutUs/OurPolyclinics/Pages/SHP-Bedok.aspx"
		 target="_blank">Bedok Polyclinic</a> just a short walk away from the MRT station. Convenient <a href="https://www.singhealth.com.sg/PatientCare/GP/Pages/Bedok.aspx"
		 target="_blank">private clinics are also scattered around the neighbourhood</a>. For specialist treatment and surgery,
		the nearest major hospital is just a short drive east to the <a href="https://www.cgh.com.sg/patients-visitors/Pages/Getting-to-CGH.aspx"
		 target="_blank">Changi General Hospital</a>.</p>
	<p>Within the estate, many local primary and secondary schools offer quality and affordable education to schoolchildren. Moreover,
		many international schools like the <a href="http://www.globalschoolsfoundation.org/Default.aspx?alias=www.globalschoolsfoundation.org/giiseastcoast"
		 target="_blank">Global Indian International School</a> and <a href="http://www.ris.edu.sg/" target="_blank">Rosemount International School</a>		are a short drive away. The new and well-equipped <a href="https://www.sutd.edu.sg/" target="_blank">Singapore University of Technology and Design</a>		is also easily reached by MRT or buses.</p>
	<p>Active residents can enjoy a variety of sports facilities at the <a href="https://www.myactivesg.com/facilities/bedok-sports-centre"
		 target="_blank">Bedok Sports Complex</a>, which includes a swimming pool, a stadium and running track, indoor courts and
		a gym. Joggers may also enjoy a run along the length of <a href="https://www.nparks.gov.sg/gardens-parks-and-nature/parks-and-nature-reserves/east-coast-park"
		 target="_blank">East Coast Park</a>.</p>
</div>