<br>
<hr class="hr-lg">
<br>
<h5>Information</h5>
<p>One of Singapore&#39;s oldest residential neighbourhoods, Bukit Timah is also home to a <a href="https://www.nparks.gov.sg/gardens-parks-and-nature/parks-and-nature-reserves/bukit-timah-nature-reserve"
	 target="_blank">large nature reserve</a> and connects western Singapore to the downtown central district.</p>
<p>This area is more popular for its landed and private condominium housing and is generally considered a more exclusive district
	to live in. Correspondingly, the average rental here is at a premium.</p>
<br>

<div class="row">
	<div class="col-sm-5">
		<img src="/public/images/areas/BukitTimah.jpg" class="btn-block">
	</div>
	<div class="col-sm-7">
		<h5>Residential District</h5>
		<p>Condominiums and landed homes make up most of the residential housing in Bukit Timah, but HDB estates are located further
			west along Upper Bukit Timah Road. For tenants who love Bukit Timah but are limited by their rental budget, Upper Bukit
			Timah is an excellent alternative with more affordable accommodation and direct transport links to the city.</p>
		<p>As a comparison, condominiums in Bukit Timah range from $2,000 (Loft@Nathan) to $19,000 (Ardmore Residence) (<a href="https://www.ura.gov.sg/realEstateIIWeb/resiRental/search.action"
			 target="_blank">URA median rent data</a>), with a median rent of $4,500, while condominiums in Upper Bukit Timah range
			from $1,500 (Nottinghill Suites, 30-40 sqm studio) to $8,700 (the Cascadia, >300sqm apartment), with a median rent of
			$2,700.
		</p>
		<p>Landed housing fetches a higher rent, as is evident from rental data that shows a range of $4,300 to $44,000 per month,
			with a median rent of $8,000 per month.</p>
		<p>The number of HDB units available is considerably less than larger estates nearby (Clementi, Bukit Batok). However, it
			can be estimated that the rent of a 3-bedroom flat is around $2,000 onwards, slightly higher than in most other HDB estates,
			due to the accessibility of the Downtown MRT line.</p>
	</div>
</div>
<br>
<div>
	<h5>Dining</h5>
	<p>Food options range from high-end restaurants in quiet landed housing neighbourhoods to local hawker fare in Upper Bukit
		Timah. A long time favourite, <a href="https://www.facebook.com/IvinsPteLtd/" target="_blank">Ivins</a> is still serving
		Peranakan cuisine at its shophouse restaurant in Binjai Park. Nearby <a href="http://www.holland-village-singapore.com/"
		 target="_blank">Holland Village</a> is home to restaurants serving up international cuisine ranging from Middle Eastern
		to American.</p>
	<p>Bukit Timah hawker is located a stone’s throw away from the Beauty World MRT station and is often crowded with locals throughout
		the day while the nearby <a href="http://www.ladyironchef.com/tag/cheong-chin-nam-road-restaurants/" target="_blank">Cheong Chin Nam</a>		features a row of restaurants that remain open till the wee hours of the morning.</p>
	<br>
	<h5>Nightlife</h5>
	<p>Being a residential neighbourhood, Bukit Timah does not offer a boisterous nightlife. Holland Village offers a good mix
		of bars and pubs that offer live music and entertainment at night. Try craft brewery <a href="http://www.starkerfreshbeer.com/"
		 target="_blank">Starkers</a> for their lychee-flavoured beers or <a href="http://www.walawala.sg/" target="_blank">Wala Wala</a>		to check out the local musical talent.</p>
	<br>
	<h5>Retail</h5>
	<p>A series of ageing shopping centres stand alongside each other near Beauty World MRT station. Inside, agencies offer a range
		of services, from tuition to house maids, and local cafes and eateries serve a loyal clientele. Large supermarket chains
		like <a href="https://www.fairprice.com.sg/webapp/wcs/stores/servlet/AjaxStoreLocatorDisplayView?storeId=10001" target="_blank">NTUC Finest</a>		and <a href="https://www.giantsingapore.com.sg/store-locations/" target="_blank">Giant</a> make grocery shopping a breeze
		for residents.</p>
	<p>Along the long stretch of Bukit Timah Road, rows of shophouses serve the needs of the expatriate residents, with high-end
		grocers and specialty products that can’t easily be found elsewhere in Singapore.</p>
	<br>
	<h5>Transport</h5>
	<p>Bukit Timah Road was once the main artery connecting western Singapore and the central district, and the Downtown MRT line
		runs parallel to this shuffling residents from as far as Bukit Panjang all the way to Marina Bay.</p>
	<p>Bus routes are also extensive along the stretch, so heading downtown is hassle-free. Some popular routes are:</p>
	<ul>
		<li>48 - Bedok to Buona Vista</li>
		<li>67 - Choa Chu Kang to Tampines</li>
		<li>74 - Hougang to Buona Vista</li>
		<li>151 -Hougang to Kent Ridge</li>
		<li>171 - Yishun to Marina Centre</li>
	</ul>
	<p><a href="http://www.transitlink.com.sg/eservice/eguide/road_info.php?road_name=Bt+Timah+Rd" target="_blank">More bus services here</a>.</p>
	<br>
	<h5>Amenities</h5>
	<p>Many private clinics are located in Bukit Timah, in both the shopping centres and in shophouses. <a href="https://www.rafflesmedicalgroup.com/medical-centre-hollandv"
		 target="_blank">Raffles Medical Group</a> also has a newly built medical centre in Holland Village. The nearest polyclinics
		are <a href="https://www.nhgp.com.sg/Our_Clinics/Clementi_Polyclinic/" target="_blank">Clementi Polyclinic</a> and <a href="https://www.nhgp.com.sg/Our_Clinics/Bukit_Batok_Polyclinic/"
		 target="_blank">Bukit Batok Polyclinic</a>.</p>
	<p>Many privately-operated child care centres offer enrichment classes to young children, while international schools like
		the <a href="http://www.gess.sg/" target="_blank">German European School</a> and the <a href="http://skis.kr/dnb/resource/main/index.php"
		 target="_blank">Singapore International Korean School</a> are just a few bus stops away. Bukit Timah Road boasts the best
		local schools in Singapore, with some dating back to the earliest days of the the country’s past. Hwa Chong Institution,
		Chinese High and ACS are just several choices that offer quality education at a fraction of the price of a private education.
		However, entrance is highly competitive, and Singaporean citizens have priority during selection.</p>
	<p>The nearest university is the <a href="http://www.nus.edu.sg/" target="_blank">National University of Singapore </a>, although
		the <a href="https://www.smu.edu.sg/" target="_blank">Singapore Management University</a> is just an easy train ride away
		closer to the central district. 10 minutes by taxi, the <a href="http://www.sim.edu.sg/Pages/index.aspx" target="_blank">Singapore Institute of Management</a>		and <a href="http://www.mdis.edu.sg/" target="_blank">MDIS</a> also offers private degree courses.</p>
	<p>While Bukit Timah does not have any sports complexes within the estate, there are plenty of options nearby. Clementi has
		a <a href="https://www.myactivesg.com/facilities/clementi-sports-centre" target="_blank">full-fledged sports complex with an indoor hall and swimming pool</a>,
		as does Redhill closer to city. Golfers are also in luck as Bukit Timah is home to several golf courses. </p>
</div>