<br>
<hr class="hr-lg">
<br>
<h5>Information</h5>
<p>Bukit Merah, located in the fringes of the city centre, is popular with residents who want easy access to the central business
	district but are on the lookout for more affordable housing options or more peaceful surroundings. A mature estate with
	a <a href="http://www.nhb.gov.sg/~/media/nhb/files/places/trails/tiong%20bahru/tiongbahru.pdf?la=en">well-documented heritage trail</a>,
	you can explore the <a href="https://remembersingapore.org/2011/11/17/old-neighbourhood-tiong-bahru/" target="_blank">first public housing project built in the 1930s</a>	under the Singapore Improvement Trust (SIT) government agency (later succeeded by the Housing Development Board) located
	in Tiong Bahru.
</p>
<br>

<div class="row">
	<div class="col-sm-5">
		<img src="/public/images/areas/BukitMerah.jpg" class="btn-block">
	</div>
	<div class="col-sm-7">
		<h5>Residential District</h5>
		<p>Bukit Merah is a major HDB estate town, with higher median monthly rents than other estates further from the city centre.
			According to the <a href="http://www.hdb.gov.sg/cs/infoweb/residential/renting-a-flat/renting-from-the-open-market/rental-statistics"
			 target="_blank">HDB median rent statistics</a>, median monthly rent in the Bukit Merah estate range between S$2,000 (3-room
			flat) and S$2,900 (5-room flat).</p>
		<p>Condominiums are also priced at a premium, as <a href="https://www.ura.gov.sg/realEstateIIWeb/resiRental/search.action"
			 target="_blank">Urban Renewal Agency (URA) data</a> shows median monthly rent ranges between S$3.29 to S$5.24 per square
			foot. For a typical 1,000 square foot 4-room apartment, this works out to a monthly rent of S$3,290 to S$5,240. As this
			data covers a wide variety of private housing, the age, condition and type of facilities in a condominium project can
			significantly affect the rental price.</p>
	</div>
</div>
<br>
<div>
	<h5>Dining</h5>
	<p>Local eateries cater to the majority of local residents in Bukit Merah. <a href="http://eresources.nlb.gov.sg/infopedia/articles/SIP_1636_2010-01-31.html"
		 target="_blank">Food courts</a> that serve affordably priced meals can be found easily within the HDB estate. There is
		a <a href="http://tiongbahru.market/" target="_blank">large hawker centre</a> above the nearby Tiong Bahru Market serving
		up local culinary delights at even lower prices if you are willing to forgo the comfort of air-conditioning. </p>
	<p>
		Bukit Merah is also a popular hangout for coffee lovers and hipsters, with cafes spread out along the old neighbourhood in
		Seng Poh Road and Tiong Poh Road. On weekends, crowds flock to <a href="http://www.tiongbahrubakery.com/" target="_blank">Tiong Bahru Bakery</a>,
		<a href="http://www.odpsingapore.com/" target="_blank">Open Door Policy</a> and <a href="https://www.40handscoffee.com/"
		 target="_blank">40 Hands</a>.
	</p>
	<br>
	<h5>Nightlife</h5>
	<p>In the same neighbourhood as the cafes, a variety of bars offer thirsty party-goers and night owls places to relax and socialise
		over a pint. <a href="http://coqnballs.com/" target="_blank">Coq and Balls</a> and the <a href="https://www.facebook.com/thesingapuraclub"
		 target="_blank">Singapura Club</a> are highly recommended by most locals.</p>
	<br>
	<h5>Retail</h5>
	<p>Bukit Merah residents are well-served by <a href="http://www.tiongbahruplaza.com.sg/getting-here/" target="_blank">Tiong Bahru Plaza</a>,
		a major shopping centre with excellent dining outlets, a variety of shops, a large supermarket and a cinema. For household
		goods and other common items, neighbourhood stores located among the surrounding HDB blocks offer convenience and reasonable
		prices.
	</p>
	<p>The <a href="http://www.thebestsingapore.com/best-place/tiong-bahru-wet-market/" target="_blank">Tiong Bahru wet market</a>		is a good place to find fresh produce and ingredients. Just remember that it’s a wet market, so dress casually!</p>
	<br>
	<h5>Transport</h5>
	<p>Public transport in Singapore is reliable and cheap. The MRT is the best way to travel across the island while an extensive
		network of buses that ply the routes in the central district offers an alternative and at times even more direct routes
		and shorter travel times.</p>
	<p>Some popular routes are:</p>
	<ul>
		<li>32 - Buona Vista to Bedok</li>
		<li>33 - National University of Singapore to Bedok</li>
		<li>120 - Eu Tong Sen Street (loop service)</li>
		<li>145 - Toa Payoh to Buona Vista</li>
		<li>195 - Raffles Boulevard (loop service)</li>
	</ul>
	<p>More bus services available <a href="http://www.transitlink.com.sg/eservice/eguide/road_info.php?road_name=Tiong+Bahru+Rd"
		 target="_blank">here</a></p>
	<br>
	<h5>Amenities</h5>
	<p>With the Singapore General Hospital just across the Central Expressway (CTE), quality public healthcare is easily accessible
		to residents of Tiong Bahru. Many healthcare-related government bodies, such as the <a href="https://www.moh.gov.sg/content/moh_web/home.html"
		 target="_blank">Ministry of Health</a>, the <a href="https://www.hpb.gov.sg/" target="_blank">Health Promotion Board</a>		and the <a href="http://www.hsa.gov.sg/content/hsa/en.html" target="_blank">Health Sciences Authority</a>, are also headquartered
		here.
	</p>
	<p>Affordable public healthcare is also available in the nearby <a href="https://polyclinic.singhealth.com.sg/AboutUs/OurPolyclinics/Pages/SHP-BukitMerah.aspx"
		 target="_blank">Bukit Merah Polyclinic</a>, just a short bus ride away on service number 16 or 851 from Tiong Bahru Plaza.
		A private dental clinic is located at Tiong Bahru Plaza while <a href="https://www.singhealth.com.sg/PatientCare/GP/Pages/TiongBahru.aspx"
		 target="_blank">neighbourhood clinics</a> are located in the nearby HDB estate offering private general practitioner services.</p>
	<p>There are many public primary and secondary schools within Bukit Merah. For instance, Zhangde Primary School and Outram
		Secondary school serve local schoolchildren in the immediate vicinity. The nearest institutions of higher education are
		the <a href="http://www.nus.edu.sg/" target="_blank">National University of Singapore (NUS)</a> in Kent Ridge and the private
		<a href="http://www.psb-academy.edu.sg/connect-with-us/locate-us/" target="_blank">PSB Academy in Jalan Bukit Ho Swee</a>,
		both a 10 minute MRT or taxi ride away.</p>
	<p>The <a href="https://www.myactivesg.com/facilities/delta-sports-centre" target="_blank">Delta Sports Complex</a> is a public
		sports facility with a gym, outdoor running track, a swimming pool and a sports hall for indoor sports. It also features
		a hockey pitch and is actively developing the sport in the community.</p>
</div>