<br>
<hr class="hr-lg">
<br>
<h5>Information</h5>
<p>Located in the heart of Singapore’s downtown district, the central business district (CBD) bustles with office workers and
	commercial businesses during the day, and settle into a relaxed party atmosphere at night. This is also Singapore’s financial
	hub, with banks, the stock exchange and the Monetary Association of Singapore all situated within walking distance from
	each other.
</p>
<br>

<div class="row">
	<div class="col-sm-5">
		<img src="/public/images/areas/CentralBusinessDistrict.jpg" class="btn-block">
	</div>
	<div class="col-sm-7">
		<h5>Residential District</h5>
		<p>Within the core commercial district of Raffles Place and Shenton Way, just a stone’s throw away from most corporate offices,
			serviced apartments and condominiums offer luxury accommodation for residents.</p>
		<p>
			A few MRT stops away, the real estate market opens up to a wide variety of more affordable housing options - from HDB flats
			in Chinatown and Cantonment to condominiums scattered along the outskirts of Tanjong Pagar.
		</p>
	</div>
</div>
<br>
<div>
	<h5>Dining</h5>
	<p>A good mix of affordable hawker food and a wide range of international cuisine is available throughout the day and late
		into the night. Popular with locals, the Chinatown Complex hawker centre is a labyrinth of food stalls serving up the most
		popular dishes in Singapore. Other excellent options are the Hong Lim Food Centre and the People’s Park hawker centre,
		both of which remain open well into the night.</p>
	<p>
		There is no end to high-end dining options in the area, with an array of restaurants in the Marina Bay Sands integrated resort,
		along the quaint streets of Amoy and Club Street, and occasionally hidden in unassuming buildings that occupy every available
		square-metre of this densely populated district. Popular establishments include <a href="http://www.ikkousha.sg/" target="_blank">Hakata Ikkousha Ramen</a>		(Japanese), <a href="http://www.moilum.com/en/" target="_blank">Moi Lum</a> (Cantonese), <a href="http://eat-at-kite.sg/"
		 target="_blank">Kite</a> (Asian fusion), <a href="https://twoblurguys.sg/" target="_blank">Two Blur Guys</a> (burgers)
		and <a href="http://www.warunglele.com/" target="_blank">Warung Lele</a> (Indonesian).
	</p>
	<br>
	<h5>Nightlife</h5>
	<p>Nightlife is largely centred around Boat Quay, Clarke Quay, Robertson Quay and Club Street. With a good mix of expatriates
		and locals, these are excellent locations to let your hair down and party to your heart’s content.</p>
	<p>
		Various bars are also open till late throughout the CBD, which cater to night owls seeking a quieter atmosphere.
	</p>
	<br>
	<h5>Retail</h5>
	<p>Plenty of options are available to satisfy even the most discerning consumer. From high-end fashion to the latest electronics
		gadgets to grocery and convenience stores, the central business district has it all. Larger shopping centres, such as
		<a href="https://www.marinasquare.com.sg/directions" target="_blank">Marina Square</a> and <a href="http://sunteccity.com.sg/contact_us/"
		 target="_blank">Suntec City</a> (City Hall), and
		<a href="http://www.bugisjunction-mall.com.sg/en/getting-here/" target="_blank">Bugis Junction</a> (Bugis), offer a comprehensive
		list of services, including supermarkets and cinemas.</p>
	<br>
	<h5>Transport</h5>
	<p>Public transport in Singapore is reliable and cheap. The MRT is the best way to travel across the island while an extensive
		network of buses that ply the routes in the central district offers an alternative and at times even more direct routes
		and shorter travel times.</p>
	<p>Some popular routes are:</p>
	<ul>
		<li>10 - National University of Singapore to Tampines</li>
		<li>75 - Bukit Panjang to Raffles Boulevard</li>
		<li>97 - Jurong to Raffles Boulevard</li>
		<li>130 - Ang Mo Kio to Shenton Way</li>
		<li>196 - Bedok to Clementi</li>
	</ul>
	<p>More bus services available <a href="http://www.transitlink.com.sg/eservice/eguide/road_info.php?road_name=Shenton+Way"
		 target="_blank">here</a></p>
	<p>Taxis are only allowed to pick-up passengers at designated taxi stands, which are located in major office buildings, shopping
		centres and hotels in the city centre.</p>
	<br>
	<h5>Amenities</h5>
	<p>Healthcare is easily accessible in the central district, with a number of private clinics within walking distance. The nearest
		public hospital, the Singapore General Hospital in Outram, is only a short drive away while the private Raffles Medical
		Group Hospital is located in nearby Bugis.</p>
	<p>Most public and private schools are located outside the central district, which could be a consideration for families with
		children. The nearest university is the Singapore Management University (SMU), stretching across Dhoby Ghaut and City Hall.</p>
	<p>There are no public sports facilities in the area, although the impressive and modern Sports Hub, which boasts an indoor
		running track, two Olympic sized swimming pools and sea-sports, is a few MRT stations away in neighbouring Kallang.</p>
</div>