<br>
<hr class="hr-lg">
<br>
<h5>Information</h5>
<p>A short distance away from the industrial and commercial hub of Jurong, Clementi is a large residential district that has
	excellent public amenities and good transportation links to the rest of the island via the Ayer Rajah Expressway (AYE),
	MRT and its extensive bus network.
</p>
<br>

<div class="row">
	<div class="col-sm-5">
		<img src="/public/images/areas/Clementi.jpg" class="btn-block">
	</div>
	<div class="col-sm-7">
		<h5>Residential District</h5>
		<p>Largely dominated by HDB flats, Clementi is a highly sought after address, in no small part due to the increasing importance
			of Jurong as a regional hub for commerce and industry. The <a href="http://www.hdb.gov.sg/cs/infoweb/residential/renting-a-flat/renting-from-the-open-market/rental-statistics"
			 target="_blank">median rent for a 3-room flat is $1,900</a>, while a larger 5-room flat will typically go for $2,400 per
			month.
		</p>
		<p><a href="https://www.ura.gov.sg/realEstateIIWeb/resiRental/submitSearch.action" target="_blank">Condominium rental rates</a>			are comparatively higher, and recently transacted rentals show a range from $2,000 (The Trilinq, 500-600 sqft) to $4,900
			(Heritage View, 1500-1600 sqft), with a median rent of $3,000 per month.</p>
		<p>Student accommodations are also an alternative for students studying in nearby institutions. <a href="http://www.65hostel.com/hostel/singapore-student-hostel-1061.html"
			 target="_blank">65Hostel</a>, <a href="http://www.eastlodge.com.sg/clementihostelhome.html" target="_blank">East Lodge</a>			and <a href="http://www.eihostel.com/en/accommodation/el-student-hostel-clementi" target="_blank">EL Hostel</a> offers
			competitively priced shared or single rooms.</p>
	</div>
</div>
<br>
<div>
	<h5>Dining</h5>
	<p>Clementi’s bustling town hub offers a myriad of dining options, from <a href="http://www.hungrygowhere.com/gallery/food-guide-clementi-town-centre-s-hawker-stalls-*gid-27653101/"
		 target="_blank">cheap local food at the hawker centre</a> to <a href="https://www.theclementimall.com/stores" target="_blank">casual restaurants in Clementi mall</a>.</p>
	<p>Outside Clementi central, food courts are conveniently located throughout the residential estates as well. In particular,
		check out the <a href="http://slowchomp.com/debeer-garden-seafood-restaurant-sunset-way-clementi/" target="_blank">quiet neighbourhood of Sunset Way</a>		for a wide array of restaurants.</p>
	<br>
	<h5>Retail</h5>
	<p>The vast array of products and services available at Clementi Central and <a href="https://www.theclementimall.com/stores"
		 target="_blank">Clementi Mall</a> caters to the varied needs of residents in the neighbourhood. Even home-bakers are not
		left out, as baking supplier <a href="http://www.phoonhuat.com/cos/o.x?c=/wbn/pagetree&func=view&rid=15084" target="_blank">Phoon Huat</a>		has an outlet just off Clementi Central. </p>
	<p>For their groceries residents can visit <a href="https://www.fairprice.com.sg/webapp/wcs/stores/servlet/AjaxStoreLocatorDisplayView?storeId=10001"
		 target="_blank">NTUC Fairprice supermarkets</a> scattered around the district or buy fresh ingredients from the wet market
		in Clementi Central.</p>
	<br>
	<h5>Transport</h5>
	<p>With Jurong East just one MRT stop to the west and the city centre just 20 minutes away by train, residents of Clementi
		are well-connected to many offices and commercial areas. The <a href="http://www.transitlink.com.sg/eservice/eguide/road_info.php?road_name=Clementi+Rd"
		 target="_blank">bus network</a> also stretches out across the island and is a viable alternative for those who need to
		travel north or south from Clementi.</p>
	<p>Some popular routes are:</p>
	<ul>
		<li>52 - Bishan to Jurong East</li>
		<li>74 - Hougang to Buona Vista</li>
		<li>96 - Clementi to NUS (loop service)</li>
		<li>151 - Hougang to Kent Ridge</li>
		<li>184 - Bukit Panjang - Clementi (loop service)</li>
		<li>188 - Choa Chu Kang - Harbourfront</li>
	</ul>
	<p>As Clementi is strategically located between the Pan Island Expressway and Ayer Rajah Expressway, driving is also extremely
		convenient. However, traffic jams are not uncommon during rush hours.</p>
	<br>
	<h5>Amenities</h5>
	<p>Affordable health care is available at <a href="https://www.nhgp.com.sg/Our_Clinics/Clementi_Polyclinic/" target="_blank">Clementi Polyclinic</a>,
		which is conveniently located at Clementi Central. Alternatively, <a href="https://www.singhealth.com.sg/PatientCare/GP/Pages/Clementi.aspx"
		 target="_blank">private clinics are scattered all over Clementi</a>, including 24-hour ones. For specialist treatment,
		the nearby National University Hospital has state of the art surgery and emergency facilities.</p>
	<p>Private schools can be found further away from Clementi Central. Options include the <a href="http://www.nushigh.edu.sg/"
		 target="_blank">NUS High School</a>, the <a href="http://www.ics.edu.sg/" target="_blank">International Community School (ICS)</a>		and the <a href="https://www.uwcsea.edu.sg/" target="_blank">United World College Southeast Asia (UWCSEA)</a>. Nearby,
		the <a href="http://www.nus.edu.sg" target="_blank">National University of Singapore</a> is one of the region’s top educational
		institutions and attracts a good mix of local and foreign students and teaching staff.</p>
	<p>Residents also enjoy a variety of sports facilities, as the huge <a href="https://www.myactivesg.com/facilities/clementi-sports-centre"
		 target="_blank">Clementi Sports Complex</a> and stadium offer swimming pools, indoor courts, a running track and more,
		spread across both sides of the Ayer Rajah Expressway. Joggers can also make use of the <a href="https://www.nparks.gov.sg/gardens-parks-and-nature/park-connector-network/west-coast-pc"
		 target="_blank">park connector network</a> for a change of scenery and fresh air.</p>
</div>