<br>
<hr class="hr-lg">
<br>
<h5>Information</h5>
<p>The shopping district of Orchard Road is one of Singapore’s most sought-after addresses. Surrounded by luxury condominiums
	and landed houses stretching from River Valley to Bukit Timah, real estate in this district comes at a premium price. However,
	occasionally residential units may be available at affordable rates, especially in older condominiums.</p>
<br>

<div class="row">
	<div class="col-sm-5">
		<img src="/public/images/areas/Orchard.jpg" class="btn-block">
	</div>
	<div class="col-sm-7">
		<h5>Residential District</h5>
		<p>There are no HDB estates on Orchard Road, so the nearest public housing projects are located further east in Bugis, or
			north in Toa Payoh. These neighbourhoods are close enough to Orchard and offer reasonably-priced accommodation despite
			their proximity to town.</p>
		<p>Private condominium rentals in Orchard are expensive. <a href="https://www.ura.gov.sg/realEstateIIWeb/resiRental/search.action"
			 target="_blank">URA statistics</a> show a range of median rents, from $2.62 to $6.97 per square feet per month. This works
			out to around a median rent of anywhere between $2,620 to $6,970 per month for a 1,000 square foot apartment. As this
			data covers a wide variety of private housing, the age, condition and type of facilities in a condominium project can
			affect the rent significantly.</p>
	</div>
</div>
<br>
<div>
	<h5>Dining</h5>
	<p>Orchard is home to many casual and fine dining restaurants situated in the shopping centres and hotels along both sides
		of the main road. Affordable food can also be found at air-conditioned food courts and small eateries.</p>
	<br>
	<h5>Nightlife</h5>
	<p>While not as popular as the nearby Clarke Quay, Orchard still offers options for partying after dark. The bars and restaurants
		at <a href="www.citynomads.com" target="_blank">Cuppage Plaza</a> and <a href="https://www.travelfish.org/eatandmeet_profile/singapore/central_region/central_area/downtown_singapore/2263"
		 target="_blank">Emerald Hill</a> remain open till late. There are also clubs and pubs opposite Forum the Shopping Mall,including
		the infamous Orchard Towers. Alternatively, on the other end of Orchard Road, <a href="http://chijmes.com.sg/category/bars/"
		 target="_blank">CHIJMES</a>, which occupies a former convent school, is home to many dining establishments.</p>
	<br>
	<h5>Retail</h5>
	<p>Orchard Road is arguably the most famous shopping district in Singapore, although it has seen declining numbers of visitors
		since many products sold here are also now available in heartland malls all over Singapore. Even so, Orchard is still a
		favourite haunt for social gatherings and window shopping.</p>
	<p>Notable shopping centres for luxury goods are <a href="http://www.ionorchard.com/en/" target="_blank">Ion Orchard</a>,
		<a href="https://www.paragon.com.sg/directions" target="_blank">Paragon Shopping Centre</a> and <a href="https://www.ngeeanncity.com.sg/about/location.html"
		 target="_blank">Ngee Ann City</a>. For more accessible brands, check out <a href="http://www.wismaonline.com/?ch=english_home"
		 target="_blank">Wisma Atria</a>,
		<a href="http://www.313somerset.com.sg/" target="_blank">Somerset 313</a> and <a href="http://www.heeren.com.sg/" target="_blank">The Heeren</a>.</p>
	<br>
	<h5>Transport</h5>
	<p>Public transport in Singapore is reliable and cheap. The MRT is the best way to travel across the island while an extensive
		network of buses that ply the routes in the central district offers an alternative and at times even more direct routes
		and shorter travel times.</p>
	<p>Some popular routes are:</p>
	<ul>
		<li>7 - Bedok to Clementi</li>
		<li>16 - Bedok to Bukit Merah</li>
		<li>111 - Ghim Moh to central district (loop service)</li>
		<li>167 - Sembawang to Bukit Merah</li>
		<li>171 - Yishun to Marina Centre</li>
		<li>190 - Choa Chu Kang to New Bridge Road</li>
		<li>502 - Jurong to central district (loop service)</li>
	</ul>
	<p>More bus services available <a href="http://www.transitlink.com.sg/eservice/eguide/road_info.php?road_name=Orchard+Rd" target="_blank">here</a></p>
	<br>
	<h5>Amenities</h5>
	<p>Quality private healthcare is within easy reach in Orchard, as Paragon, Wheelock Place and Shaw Centre house medical specialists’
		boutique clinics. In addition, Orchard boasts two state of the art private hospitals - Gleneagles and Mount Elizabeth.
		For affordable public healthcare, residents can visit the <a href="https://www.nhgp.com.sg/Our_Clinics/Toa_Payoh_Polyclinic/"
		 target="_blank">Toa Payoh Polyclinic</a>.</p>
	<p>Private educational institutes are also abundant in Orchard and nearby Bukit Timah, from preschool all the way to universities.
		<a href="http://www.mdis.edu.sg/" target="_blank">MDIS</a> offers private degree courses and the <a href="https://www.smu.edu.sg/"
		 target="_blank">Singapore Management University</a> stretches across Dhoby Ghaut and Bras Basah.</p>
	<p>With limited space for public recreation, sports facilities are mostly limited to private gyms in commercial buildings.
		The nearest public sports complexes are in Kallang (<a href="http://www.sportshub.com.sg/directions/Pages/getting-here.aspx"
		 target="_blank">Sports Hub</a>), <a href="https://www.myactivesg.com/facilities/queenstown-sports-centre" target="_blank">Queenstown</a>		and <a href="https://www.myactivesg.com/facilities/delta-sports-centre" target="_blank">Redhill</a>, only a few MRT stops
		in their respective directions.</p>
</div>