<br>
<hr class="hr-lg">
<br>
<h5>Information</h5>
<p>Queenstown is a popular residential choice for people who want easy access to the central business district without having
	to pay the premium of staying in the immediate vicinity. Easily accessible via buses and the MRT, Queenstown also boasts
	amenities ranging from shopping centres to educational institutions and sports facilities all within a 10-minute drive.</p>
<br>

<div class="row">
	<div class="col-sm-5">
		<img src="/public/images/areas/Queenstown.jpg" class="btn-block">
	</div>
	<div class="col-sm-7">
		<h5>Residential District</h5>
		<p>Queenstown is where the first <a href="http://www.straitstimes.com/singapore/housing/life-in-spores-oldest-hdb-blocks"
			 target="_blank">HDB blocks were built in the 1960s</a> with the aim of resettling squatters by providing cheap rented
			housing. With this pioneering project, Singapore’s urban landscape would be changed forever.</p>
		<p>Today, much of the estate is HDB flats both old and new. Along Stirling Road, the old flats first conceived under the
			<a href="http://myqueenstown.blogspot.sg/2010/09/singapore-improvement-trust-sit-flats.html" target="_blank">Singapore Improvement Trust (SIT)</a>			still stand, easily recognisable by their utilitarian architecture. Nearer to the MRT station and town centre, newer and
			taller flats tower over the residents going about their daily life, while the incessant sounds of ongoing construction
			hint at even more development in the years ahead.</p>
		<p>Although not the cheapest, <a href="http://www.hdb.gov.sg/cs/infoweb/residential/renting-a-flat/renting-from-the-open-market/rental-statistics"
			 target="_blank">HDB median rent</a> in the estate offers good value due to its proximity to the National University of
			Singapore and its location right between the industrial hub of Jurong and the commercial district of downtown Singapore.
			At $2,000 per month, a 3-room flat offers competitively priced accommodation for a small family. Due to the higher demand
			for larger flats, median rents for 4- and 5- room units in Queenstown tend to be higher compared to other HDB estates.</p>
		<p>Private property is also priced higher in this location. According to <a href="https://www.ura.gov.sg/realEstateIIWeb/resiRental/search.action"
			 target="_blank">URA statistics</a>, the median monthly rent ranges between S$3.29 to S$5.24 per square foot. For a typical
			1,000 square foot 4-room apartment, this works out to a monthly rent of S$3,290 to S$5,240. As this data covers a wide
			variety of private housing, the age, condition and type of facilities in a condominium project can have a significant
			effect on the rental price.</p>
	</div>
</div>
<br>
<div>
	<h5>Dining</h5>
	<p>Many food courts that serve affordably priced meals can be found easily within the HDB estate. There are also lots of hawker
		centres in the vicinity serving up local culinary delights at even lower prices if you are willing to forgo the comfort
		of air-conditioning. Popular options are the <a href="http://2bearbear.com/what-to-eat-at-abc-market-hawker-centre-abc-brickworks-food-centre/"
		 target="_blank">ABC Brickworks food centre</a>, <a href="http://eatbook.sg/alexandra-food-village/" target="_blank">Alexandra Village food centre</a>,
		<a href="http://singaporewest.sg/eat/best-eats-at-ghim-moh-market-food-centre/" target="_blank">Ghim Moh hawker centre</a>		and <a href="https://sg.news.yahoo.com/fave-5-mei-ling-market-food-centre-095158783.html">Mei Ling Market.</a></p>
	<p>
		One of the most popular restaurants is, surprisingly, more well-known for selling furniture! IKEA occupies an entire building
		along Alexandra Road, and the spacious cafe on the second floor serving up local cuisine as well as IKEA’s signature meatballs
		with lingonberry jam is a popular dining choice for locals.
	</p>
	<br>
	<h5>Retail</h5>
	<p>While supermarkets and household goods stores are scattered all over the residential estate, Queenstown is more well known
		for <a href="https://www.queenswayshoppingcentre.sg/getting-there/" target="_blank">Queensway Shopping Centre</a>, the
		go to place for those on the hunt for shoes or sporting goods.</p>
	<p><a href="http://www.ikea.com/sg/en/store/alexandra" target="_blank">IKEA</a> is a haven for renters on the lookout for practical
		and affordable but still stylish furniture while the nearby Leng Kee Road is home to many automotive showrooms.
	</p>
	<br>
	<h5>Transport</h5>
	<p>Public transport in Singapore is reliable and cheap. The MRT is the best way to travel across the island while an extensive
		network of buses that ply the routes in the central district offers an alternative and at times even more direct routes
		and shorter travel times.</p>
	<p>Some popular routes are:</p>
	<ul>
		<li>51 - Hougang to Jurong East</li>
		<li>61 - Bukit Batok to Eunos</li>
		<li>100 - Serangoon to Ghim Moh</li>
		<li>123 - Bukit Merah to Harbourfront</li>
		<li>198 - Boon Lay to Bukit Merah</li>
	</ul>
	<p>More bus services available <a href="http://www.transitlink.com.sg/eservice/eguide/road_info.php?road_name=Queensway" target="_blank">here</a></p>
	<br>
	<h5>Amenities</h5>
	<p>Affordable public healthcare is available at the nearby <a href="https://polyclinic.singhealth.com.sg/AboutUs/OurPolyclinics/Pages/SHP-Queenstown.aspx"
		 target="_blank">Queenstown Polyclinic</a>, just a short bus ride away on service numbers 51, 61, 93, 100, 123, 147, 196,
		198, 855 or 961 from Stirling Road. For private <a href="https://www.singhealth.com.sg/PatientCare/GP/Pages/Queenstown.aspx"
		 target="_blank">general practitioner services</a>, residents can head over to Mei Ling Street and Stirling Road.</p>
	<p>There are many public primary and secondary schools in the area surrounding Queenstown, as befitting a large residential
		district. The nearest institutions of higher education are the <a href="http://www.nus.edu.sg/" target="_blank">National University of Singapore (NUS)</a>		in Kent Ridge, and the private <a href="http://www.psb-academy.edu.sg/connect-with-us/locate-us/" target="_blank">PSB Academy</a>		in Jalan Bukit Ho Swee.</p>
	<p>The <a href="http://www.giissingapore.org/TheSchool/CampusLocation.aspx" target="_blank">Global International Indian School</a>,
		which largely serves the Indian expatriate community, has a campus in Queenstown and the international <a href="https://www.uwcsea.edu.sg/"
		 target="_blank">United World College of Southeast Asia</a> is also located in nearby Dover.</p>
	<p>Queenstown has one of the earliest <a href="https://www.myactivesg.com/facilities/queenstown-sports-centre" target="_blank">public sports complex</a>,
		with a running track, stadium and a swimming pool. Nearby, <a href="https://www.myactivesg.com/facilities/clementi-sports-centre"
		 target="_blank">Clementi Sports Complex</a> and <a href="https://www.myactivesg.com/facilities/delta-sports-centre" target="_blank">Delta Sports Complex</a>		also serve as alternatives with indoor gyms and badminton courts.</p>
</div>