<br>
<hr class="hr-lg">
<br>
<h5>Information</h5>
<p>Located along the south-western coast of Singapore, Telok Blangah is quiet and sleepy, which makes it a popular choice for
	tenants in search of serenity. There are three prominent parks along the Pasir Panjang coast, namely West Coast Park, Kent
	Ridge Park and Labrador Park. The area is also close to Mount Faber, one of Singapore's few remaining hills. Telok Blangah
	is where the National University of Singapore (NUS), and NUS-related offices and institutions are located.
</p>
<br>

<div class="row">
	<div class="col-sm-5">
		<img src="/public/images/areas/Clementi.jpg" class="btn-block">
	</div>
	<div class="col-sm-7">
		<h5>Residential District</h5>
		<p>Condominiums and landed homes make up most of the residential housing in Telok Blangah, but HDB units can be found on the
			outskirts of Telok Blangah, namely in Bukit Permai, Alexandra Road and Clementi.</p>
		<p>As a comparison, condominiums in Bukit Timah range from $2,000 (Loft@Nathan) to $19,000 (Ardmore Residence) (<a href="https://www.ura.gov.sg/realEstateIIWeb/resiRental/submitSort.action"
			 target="_blank">URA rental data</a>), with a median rent of $4,500, while condominiums in Upper Bukit Timah range from
			$1,500 (Nottinghill Suites, 30-40 sqm studio) to $8,700 (the Cascadia, >300sqm apartment), with a median rent of $2,700.</p>
		<p>Landed housing fetches a higher rent, as is evident from rental data that shows a minimum of $4,300 to $44,000 per month,
			with a median rent of $8,000 per month.</p>
		<p>For HDB rentals, the volume is considerably lesser than larger estates nearby (Clementi, Alexandra), but it can be estimated
			that the rent of a 3-bedroom flat hovers around $1,900 onwards, due to the accessibility of the Circle MRT line.</p>
	</div>
</div>
<br>
<div>
	<h5>Dining</h5>
	<p>Food options range from high-end restaurants in quiet landed housing neighbourhoods to local hawker fare at Upper Bukit
		Timah. A long time favourite, Ivins is still serving Peranakan cuisine from its shophouse restaurant in Binjai Park, while
		further up, Holland Village is home to many international cuisine ranging from Middle Eastern to American.</p>
	<p>For a change of scenery, residents can also visit East Coast Park to enjoy the cool breeze while dining at East Coast food
		centre or any of the
		<a="https://www.nparks.gov.sg/activities/dining/tenants" target="_blank">restaurants that line East Coast beach</a>.</p>
	<br>
	<h5>Retail</h5>
	<p>Between the shopping centres of <a href="http://bedokmall.com.sg/en/stores/" target="_blank">Bedok Mall</a> and <a href="http://www.fraserscentrepointmalls.com/store.php?MallFilter=4&CategoryID=594&Mode=Name&Mode=Name"
		 target="_blank">Bedok Point</a>, small shops sell a wide range of products and services to cater to residents. Large department
		store <a href="http://www.harveynorman.com.sg/store-finder.html" target="_blank">Harvey Norman</a> sells electronics and
		appliances in Bedok Point, and both <a href="http://www.shengsiong.com.sg/pages/store-locator.html#global1" target="_blank">Sheng Siong</a>		and <a href="https://www.fairprice.com.sg/webapp/wcs/stores/servlet/AjaxStoreLocatorDisplayView?storeId=10001" target="_blank">NTUC Fairprice supermarkets</a>		are just minutes away from the MRT station on foot.</p>
	<p>Conveniently, the sports megastore <a href="http://www.decathlon.sg/c/42-our-retail-stores" target="_blank">Decathlon</a>		is located a half kilometer down the main New Upper Changi Road, and sells a wide range of affordable hiking and sports
		apparel and products.</p>
	<br>
	<h5>Transport</h5>
	<p>The Bedok MRT station is the fastest way to get around Singapore, and is located at the heart of Bedok. For more direct
		routes, many buses ply the main and side roads inside the residential district.</p>
	<p>Some popular routes are:</p>
	<ul>
		<li>2 - New Bridge Road to Changi Village</li>
		<li>24 - Ang Mo Kio to Bedok (loop service)</li>
		<li>31 - Tampines to Toa Payoh</li>
		<li>67 - Choa Chu Kang to Tampines</li>
		<li>155 - Toa Payoh to Bedok</li>
	</ul>
	<p><a href="http://www.transitlink.com.sg/eservice/eguide/road_info.php?road_name=Bedok+Nth+Ave+3" target="_blank">More bus services here</a>.</p>
	<p>It is also worth noting that for office workers heading to Changi Business Park, many companies arrange for shuttle buses
		from just outside Tanah Merah MRT station.</p>
	<br>
	<h5>Amenities</h5>
	<p>Affordable healthcare is right at the doorstep for residents of Bedok, with <a href="https://polyclinic.singhealth.com.sg/AboutUs/OurPolyclinics/Pages/SHP-Bedok.aspx"
		 target="_blank">Bedok Polyclinic</a> just a short walk away from the MRT station. Convenient <a href="https://www.singhealth.com.sg/PatientCare/GP/Pages/Bedok.aspx"
		 target="_blank">private clinics are also scattered around the neighbourhood</a>. For specialist treatment and surgery,
		the nearest major hospital is just a short drive east to the <a href="https://www.cgh.com.sg/patients-visitors/Pages/Getting-to-CGH.aspx"
		 target="_blank">Changi General Hospital</a>.</p>
	<p>Within the estate, many local primary and secondary schools offer quality and affordable education to schoolchildren. Moreover,
		many international schools like the <a href="http://www.globalschoolsfoundation.org/Default.aspx?alias=www.globalschoolsfoundation.org/giiseastcoast"
		 target="_blank">Global Indian International School</a> and <a href="http://www.ris.edu.sg/" target="_blank">Rosemount International School</a>		are a short drive away. The new and well-equipped <a href="https://www.sutd.edu.sg/" target="_blank">Singapore University of Technology and Design</a>		is also easily reached by MRT or buses.</p>
	<p>Active residents can enjoy a variety of sports facilities at the <a href="https://www.myactivesg.com/facilities/bedok-sports-centre"
		 target="_blank">Bedok Sports Complex</a>, which includes a swimming pool, a stadium and running track, indoor courts and
		a gym. Joggers may also enjoy a run along the length of <a href="https://www.nparks.gov.sg/gardens-parks-and-nature/parks-and-nature-reserves/east-coast-park"
		 target="_blank">East Coast Park</a>.</p>
</div>