<h2>About Krib</h2>
<br>
<div class="row">
	<div class="col-6">
		<img src="/public/images/interior2.jpeg" class="btn-block" alt="interior of house under krib">
	</div>
	<div class="col-6">
		<p>Krib is an innovative tech startup that aims to revolutionise the way tenants find the <i>perfect</i> home in an overwhelming
			property market.</p>

		<p>Instead of having to wade through hundreds of listings to find passable property options, tenants receive a daily selection
			of carefully selected properties perfectly suited to their needs.</p>

		<p>Here at Krib, our goal is to make renting hassle-free and enjoyable for tenants, landlords and real-estate agents. Listing
			with Krib will <i>always</i> be free of charge.</p>
	</div>
</div>