<h2>Contact</h2>
<br>
<div class="row">
	<div class="col-12">
		<p>Our customer support team is committed to making renting easy for you. For any queries on the platform or renting practices
			in general, please drop us an email at <a href="mailto:hello@krib.co">hello@krib.co</a></p>

	</div>
</div>