<h2>Frequently Asked Questions</h2>

<br>
<h4>Signing Up</h4>
<p><strong>Q: How can I sign up for Krib?</strong></p>
<p>A: Simply log in with your mobile phone number followed by a one-time PIN, and you’re all set to use Krib!</p>
<br>
<p><strong>​Q: I am not a Singaporean. Can I still use the app?</strong></p>
<p>A: Sure! Just sign up and create your account on the website. As long as you’re looking to rent out property or finding a
	place to stay, Krib has got you covered.</p>
<br>
<p><strong>Q: The website is asking for my name and email address. What will this be used for?</strong></p>
<p>A: Only your first name is used to personally identify you on the site, so won’t have to endure greetings like “<i>hi +6591234567!</i>”.
	Your email address is used for service notifications, so you can get timely updates when we find potential tenants for your
	property, or when new listings match your house hunting requirements.</p>
<p>At Krib, we take personal data protection very seriously. Your personal data will not be sold or transferred to third parties.
	If a release of data is required as a part of the transaction, it will only be done with your permission.You may refer to
	our privacy policy for more details.</p>
<br>
<h4>Listing A Property</h4>
<p><strong>Q: How do I advertise my rental property on Krib?</strong></p>
<p>A: Just click on "List My Property" on the top right corner of the website, and include the relevant details of your listing.
	<i>Be as detailed as possible, so we can send the right tenants your way.</i></p>
<br>
<p><strong>Is advertising my rental property on Krib really free?</strong></p>
<p>Yes. We do not charge an upfront fee for new users, and at no time are you required to enter your credit card or bank account
	details in the system until your 3rd successful rental deal is concluded.</p>
<br>
<p><strong>Q: I want to remove my listing on the website. How can I do so?</strong></p>
<p>A: Simply log in with your mobile phone number, and enter the PIN code that is sent to your phone.</p>
<p>Then click on "My Properties" at the top right corner, and you'll see the list of properties under your account. Click on
	"Unpublish" for the respective listings that need to be removed.</p>
<br>
<p><strong>Q: How long are the listings active in Krib?</strong></p>
<p>A: Each listing is active for 3 weeks. Landlords and agents may republish the listing again after expiry if the property
	is still available for tenants to rent.</p>
<br>
<h4>Property Search</h4>
<p><strong>Q: Krib has the same property ads as other platforms. What is so special about this website?</strong></p>
<p>A: In most property listing websites, a typical search filtered by location and rent amount will result in at least a few
	hundred results.</p>
<p>We offer personalised and carefully curated property listings by registering every tenant's specific
	requirements and then scanning for suitable properties across multiple sites. As such, you only need to consider a smaller and
	more accurate list of properties when house hunting.</p>
<br>
<p><strong>Q: Do tenants need to pay anything to use Krib?</strong></p>
<p>A: No, Krib is totally free of charge for tenants. Tenants only need to confirm once they've found a
	place to rent, so we can deactivate the PropertyMatch request (and stopping spamming the tenant with more awesome suggestions
	on where to rent).</p>
<br>