<meta property="og:site_name" content="Krib: Intelligent Search Platform For Real Estate Rentals" />
<meta property="og:title" content="Landlord's Guide to Renting in Singapore" />
<meta property="og:description" content="Comprehensive guide for landlords to rent out a property in Singapore." />
<meta property="og:url" content="http://www.krib.co/pages/landlord-guide-to-renting.html" />
<meta name="description" content="Comprehensive guide for landlords to rent out a property in Singapore." />
<meta name="keywords" content="renting out a property in singapore, landlord guide to renting in sg, how to lease out property in sg"
/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div class="container-fluid">
	<h1>How To Rent Out Your Apartment Or Room In Singapore - A Detailed Guide For Landlords</h1>
	<br>
	<h2>Step 1: Do you qualify to rent?</h2>
	<p>For a homeowner, renting out a residential property might provide a steady stream of income, but there’s a host of considerations
		to bear in mind first, especially for HDB homeowners. In its simplest form, renting a house can be as easy as drafting
		a tenancy agreement that states the amount of rent and the period of the tenancy. However, in Singapore’s well-regulated
		market, there are several other factors that come into play.</p>
</div>
<br>
<div class="row container-fluid">
	<div class="col-lg-4" style="text-align:left">
		<div class="col-lg-12">
			<img src="/public/images/hdbApartment.jpg" class="btn-block" alt="HDB image" style="width:100%">
		</div>
		<div class="col-12" style="text-align:left">
			<br>
			<h3>HDB</h3>
			<p>Contrary to popular belief, HDB owners are actually leasing the flats from HDB for 99 years. Therefore, renting out an
				HDB flat is more accurately termed as “subletting” instead. Here are the criteria to sublet.</p>
			<ul><strong>Lease Period</strong>
				<li>6 - 36 months (Singaporeans or Malaysians)</li>
				<li>6 - 18 months (Other non-citizens)</li>
			</ul>
			<ul><strong>Conditions</strong>
				<li>Owner must be Singapore Citizen</li>
				<li>Minimum Occupation Period fulfilled</li>
				<li><a href="https://services2.hdb.gov.sg/webapp/BR12AWSublettingQuota/" target="_blank">Neighbourhood non-citizen quota not reached</a></li>
				<li><a href="https://services2.hdb.gov.sg/webapp/BR12AWSublettingQuota/" target="_blank">HDB block non-citizen quota not reached</a></li>
				<li>Max no of subtenants for 1 or 2-room flats: 4 persons</li>
				<li>Max no of subtenants for 3-room flats: 6 persons</li>
				<li>Max no of subtenants for 4-room flats: 9 persons</li>
			</ul>
			<h3>HDB Room</h3>
			<ul><strong>Conditions</strong>
				<li>Owner must be Singapore Citizen or PR</li>
				<li>1 or 2 room flat: No subletting allowed</li>
				<li>3 room flat: 1 bedroom can be sublet</li>
				<li>4 room flat or larger: 2 bedrooms can be sublet</li>
			</ul>


		</div>

	</div>

	<div class="col-lg-4" style="text-align:left">
		<div class="col-12">
			<img src="/public/images/condominium.jpg" class="btn-block" alt="Condominium image" style="width:100%">
		</div>

		<div class="col-lg-12" style="text-align:left">
			<br>
			<h3>Executive Condominiums</h3>
			<p>ECs are a special hybrid of property that is subsidised by the Singapore government but can be rented or sold after the
				MOP period like private property, under certain conditions.</p>
			<ul><strong>Lease Period</strong>
				<li>3 months or more</li>
			</ul>
			<ul><strong>Conditions</strong>
				<li>Minimum Occupation Period fulfilled</li>
				<li>Max no of subtenants: 6 persons</li>
				<li>Each occupant should have 10 sqm of space</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-4" style="text-align:left">
		<div class="col-12">
			<img src="/public/images/landedHouse.jpg" class="btn-block" alt="Landed housing" style="width:100%">
		</div>
		<div class="col-lg-12" style="text-align:left">
			<br>
			<h3>Private Property</h3>
			<p>This category covers private condominiums, apartments, cluster housing and landed property. There are fewer regulations
				governing property rentals, but due diligence should still be conducted.</p>
		</div>
	</div>
	<div class="col-lg-12" style="text-align:left">
		<ul><strong>Lease Period</strong>
			<li>3 months or more</li>
		</ul>
	</div>

	<div class="col-lg-12" style="text-align:left">
		<ul><strong>Conditions</strong>
			<li>Minimum Occupation Period fulfilled</li>
			<li>Max no of subtenants: 6 persons</li>
			<li>Each occupant should have 10 sqm of space</li>
		</ul>
	</div>
</div>

<br>
<br>

<br>

<div class="container-fluid">
	<hr className="hr-lg" />
	<h2>Step 2: Preparing to rent</h2>
	<p>Having cleared the criteria to rent a property, the next step for a homeowner is to prepare the property for rental. This
		usually involves some initial research to figure out a fair rental price, and then advertise it and reach as many potential
		tenants as possible.</p>

	<br>
	<h3>The Price is Right</h3>
	<p>There really is no “right” price, actually. Depending on the motivations of the homeowner, a house can be rented out for
		a lot less or a lot more. Other factors include the condition of the house, how high an apartment or flat is, the amenities
		nearby, transportation options etc. However, there are ways to determine a reasonable average rent for a property within
		a certain area.</p>
	<br>

</div>
<div class="row container-fluid">
	<div class="col-lg-4" style="text-align:left">
		<div class="col-lg-12">
			<h3>By HDB Estate</h3>
			<p>HDB has a very handy table listing the median price of various flat types in all the HDB estates. At one glance, the homeowner
				can make an initial guess how much his or her flat can fetch, without searching for recently transacted rentals.
			</p>
			<img src="/public/images/hdb-estate-rate.png" alt="hdb rental statistics" width="100%">
		</div>
	</div>

	<div class="col-lg-4" style="text-align:left">
		<div class="col-lg-12">
			<br>
			<h3>By HDB Block</h3>

			<p>To get a more accurate rental price, HDB also shows the latest transacted rental price for a range of blocks. This can
				help justify a higher rent, especially if the flat is in a good location with shopping and a transport hub nearby.
			</p>
			<img src="/public/images/hdb-block-rate.png" alt="hdb rental statistics" width="100%">
		</div>
	</div>

	<div class="col-lg-4" style="text-align:left">
		<div class="col-lg-12">
			<br>
			<h3>Private Property (URA Data)</h3>
			<p>URA maintains a database of last transacted rent for private properties, including condominiums/apartments and landed houses.</p>
			<img src="/public/images/ura-market-rate.png" alt="hdb rental statistics" width="100%">
		</div>
	</div>
</div>



<br>
<div class="container-fluid">
	<p>Another way to decide on a fair price is to view the listings on <a href="http://www.krib.co">Krib</a>. Just search for
		nearby units currently up for rent, to get an idea what the current market rate is. </p>

	<br>
	<h3>Staging the Property</h3>
	<p>With the many property listing sites available today, merely listing it isn't enough. Tenants have a lot of choices and
		a limited time to view, so it pays to put in a bit of time in decorating your property interiors and doing up an attractive
		listing. Here are some quick tips to get started!</p>
	<ul>
		<li>Clear away the clutter. Any items in the house should be appropriately termed as “props”.</li>
		<li>Use warm, diffused lighting.</li>
		<li>To make a room appear to be bigger than it is, paint it the same colour as the adjacent room.</li>
		<li>To create the illusion of more space, paint the walls the same colour as the curtains.</li>
		<li>Art displayed creatively makes it stand out and shows off the space.</li>
		<li>Create a relaxing bedroom setting with luxurious linens and soft colours that will make a potential tenant want to hang
			out.
		</li>
		<li>Clear up unfinished work before opening up for viewing appointments.</li>
		<li>Accessorizing can make buyers feel like they’re in a spa. Put out items like rolled-up towels, decorative baskets and candles.
		</li>
	</ul>
	<br>
</div>

<div class="container-fluid">
	<hr className="hr-lg" />
	<h2>Step 3: List your property and find the right target market</h2>
	<p>After a suitable rental price is decided and the property interior has been staged for viewing, it’s time to spread the
		word around. Most real estate salespersons will list either in the newspaper classifieds section, or on websites like Propertyguru
		and STProperty, and just wait for random tenants to show up. Not much effort involved, eh?</p>
	<p>For an owner-listed property, the challenge is to 1) list at zero (or minimal) cost and 2) stand out from the crowd and
		get more attention. And believe it or not, it isn't as tedious as many agents make it to be!</p>

	<br>
	<h3>Property Websites</h3>
	<p>List your property on <a href="http://www.krib.co">Krib</a> and you won't have to pay any upfront subscription fees to do
		so.
	</p>

	<br>
	<h3>Online forums</h3>
	<p>Online forums are driven by users, basically discussing various topics in forum threads. Forums are good for reaching out
		to a lot of people, but they may not be your target audience (i.e. potential tenants). And in some forums, trolls and spammers
		exist. Be careful what kind of information you put up</p>
	<ul>
		<li class="col-3" style="text-align:left">
			<a href="http://forums.asiaone.com/forumdisplay.php?f=140" target="_blank">AsiaOne Forums</a>
		</li>

		<li class="col-3" style="text-align:left">
			<a href="http://www.renotalk.com/forum/forum/24-rentsell-properties/" target="_blank">RenoTalk</a>
		</li>

		<li class="col-3" style="text-align:left">
			<a href="http://forums.hardwarezone.com.sg/general-merchandise-bazaar-261/" target="_blank">Hardwarezone</a>
		</li>
		<li class="col-3" style="text-align:left">
			<a href="http://forum.singaporeforumonline.com/forum/forumdisplay.php?f=24" target="_blank">Singapore Forum Online</a>
		</li>
	</ul>
</div>

<br>
<div class="container-fluid">
	<h3>Online Classifieds</h3>
	<p>Online classifieds platforms are meant for consumers to list stuff they want to sell, and for buyers to browse relevant
		products in various sections of the site. Hence, landlords will get the decent exposure to the relevant target audience,
		although there'll be other products competing with your ad. In any case, these sites are good to just increase exposure
		of the property for rent, and it’s free!</p>
	<ul>
		<li class="col-3" style="text-align:left">
			<a href="http://singapore.craigslist.com.sg/search/apa" target="_blank">Craigslist</a>
		</li>

		<li class="col-3" style="text-align:left">
			<a href="http://www.gumtree.sg/" target="_blank">GumTree</a>
		</li>

		<li class="col-3" style="text-align:left">
			<a href="http://www.stclassifieds.sg/" target="_blank">ST Classifieds</a>
		</li>
		<li class="col-3" style="text-align:left">
			<a href="http://singapore.locanto.sg/" target="_blank">Locanto</a>
		</li>
	</ul>
</div>
<br>
<div class="container-fluid">
	<h3>Social Media</h3>
	<p>Social media is a double edged sword – use it well, and word spreads… Hell, it might even go viral! But if the post is overly
		commercial or poorly written, the poster might end up getting flak and negative remarks over unwanted spam. There are a
		lot of ideas on crafting the ideal post, but here are some tips.</p>
	<ul>
		<li>Do not sound like “just another ad”. Use good copy-writing skills like storytelling to sell up the property, and put yourself
			in the reader’s shoes. What will attract their attention?</li>
		<div class="row">
			<div class="col-lg-6" style="text-align:left">
				<div class="col-lg-12">
					<img src="/public/images/poor-social-media-post.png" alt="poor property social media post" width="70%">
					<p><i>Needs improvement</i></p>
				</div>
			</div>
			<div class="col-lg-6" style="text-align:left">
				<div class="col-lg-12">
					<img src="/public/images/good-social-media-post.png" alt="good property social media post" width="70%">
					<p><i>Well written social media post</i></p>
				</div>
			</div>
		</div>
		<li>Use #hashtags to get noticed by people searching for the same topic. Or you can find them and call them out!</li>
		<li>Give a virtual tour via Google+ Hangouts – Google+ is reportedly excellent for increasing SEO for websites anyway, so the
			more posts you share through Google’s business social network, the better. But by being innovative, you can provide quality
			service to prospects for free. Using the Hangout option on Google+, you can use your smart device to take prospects on
			a tour round a vacant unit.</li>
		<li>Share photos on Pinterest – Inspire people on Pinterest to rent one of your units by sharing photos of staged homes. Be
			creative with floor plans etc. and liberal with the sharing of the photos and you can quickly gain followers and interest
			in the homes themselves. Remember to describe everything from the décor to the furniture being used to make your photos
			easier to find.</li>
		<br><img src="/public/images/pinterest-socialmedia-post.jpg" alt="Pinterest social media post for rental listing" width="35%">
		<li>Leverage on 360 videos and photos. Facebook now allows 360 photos to be posted directly using your mobile, so there really
			isn't a reason why not. Besides having an immersive means to show potential tenants the place, it also raises the "cool"
			factor and stands out from the drab listings.</li>
	</ul>

	<br>
</div>
<div class="container-fluid">
	<hr className="hr-lg" />
	<h2>Step 4: Supercharge the viewing appointment</h2>
	<p>The viewing appointment is the best opportunity to up-sell the property since the tenant has made an effort to go down
		to see the place. Agents would typically bring up handy information like the area size and various amenities in the vicinity
		but might cross-sell another property if the tenant isn’t too keen.</p>
	<p>By managing the rental transaction directly, the landlord is empowered to keep the tenant as interested as possible in the
		property. Besides giving the usual pitch about the amenities (convenience stores, eateries), facilities (swimming pool,
		BBQ pits) and transport options, here are some other ways to make the viewing stand out!</p>
	<ul>
		<li>Stage the scene - much like when taking photographs, a visually appealing house will sell a lifestyle to a potential tenant.
		</li>
		<li>Learn about the tenant's needs, and answer them. Some might just want a spacious kitchen for baking, while others need
			a balcony for gardening.</li>
		<li>Arrange for viewings during the best time of the day - If sunlight streams in during the late afternoons, then try to avoid
			having viewing appointments then. On the other hand, if the property looks best in the evening (perhaps with a nice sunset
			view), organise an open house between 6 to 7.30pm!</li>
		<li>Scent the place up with vanilla - Studies have shown that vanilla has a positive effect on people – hence a happy, relaxed
			tenant would associate good emotions with the</li>
		<li>Tell stories - Often, potential tenants would have visited many houses before yours, and many more after that. The idea
			is to make the viewing memorable, especially with personal anecdotes of the house, the decor and the neighbourhood.</li>
	</ul>
</div>
<br>
<div class="container-fluid">
	<hr className="hr-lg" />
	<h2>Step 5: Drafting and signing the Tenancy Agreement</h2>
	<p>After the viewing appointments, the tenants will now decide if the property is suitable for them. In most cases, the tenant
		(or the tenant’s agent) would give an indication that they’re keen on the place, and the tenant may negotiate on the rental
		amount. Finalise the rent amount, and the tenant should formally send a Letter of Intent addressed to the landlord. This
		is the basis for the tenancy agreement to be drafted.</p>
	<p>A letter of intent is not the final binding legal document for the tenancy. However, it may be used as supporting documentation
		should any contention arise during the lease. Its main purpose is to state the terms for renting the property from the
		landlord. It includes specific requests like the diplomatic clauses, whether the tenant wants the property furnished or
		unfurnished, and if he or she would like to cook within the property etc.</p>
	<p>A Letter of Intent should also carry a clause specifying an expiration date. If a landlord does not sign the Letter of Intent
		within a certain period, the letter will expire and the landlord will then be required to return the booking deposit immediately
		(see below).</p>
	<p style=" margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">
		<a title="View Letter of Intent on Scribd" href="https://www.scribd.com/document/354337835/Letter-of-Intent#from_embed" style="text-decoration: underline;">Letter of Intent</a>		by <a title="View Gary Low's profile on Scribd" href="https://www.scribd.com/user/72738370/Gary-Low#from_embed" style="text-decoration: underline;">Gary Low</a>		on Scribd</p>
	<iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/354337835/content?start_page=1&view_mode=scroll&access_key=key-kQBPdiNI7FnGnCNNrw33&show_recommendations=true"
	 data-auto-height="true" data-aspect-ratio="0.707221350078493" scrolling="no" id="doc_43420" width="null" height="null" frameborder="0"></iframe>
	<script type="text/javascript">
		(function () { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "https://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();
	</script>

</div>
<br><br>
<div class="container-fluid">
	<h3>The Booking Deposit (Or Good-Faith Deposit)</h3>
	<p>Besides the letter of intent, tenants usually offer a month’s rent as a deposit of good faith. When the letter of intent
		is signed and the deposit is accepted by you, you may not offer the property to anyone else for rent. A month’s rent is
		usually the norm for a booking deposit. Once the tenancy agreement is signed, the deposit can be kept as the security deposit
		that the landlord will hold until the end of the tenancy, or as the first month’s rent.</p>
	<p>If the deal falls through, you need to return the booking deposit. Both the tenant and you should have a copy of the letter
		of intent, with the amount offered as booking deposit, to ensure there’s no misunderstanding on this!</p>

	<br><br>
	<h3>The Tenancy Agreement</h3>
	<p>The tenancy agreement should be comprehensive and written in formal language. For a standard rental transaction, you can
		use Krib's tenancy agreement template, which includes important clauses to determine who pays for repairs, for air-con maintenance
		and the all-important diplomatic clause.</p>
	<p style=" margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">
		<a title="View Tenancy Agreement Template on Scribd" href="https://www.scribd.com/document/355316769/Tenancy-Agreement-Template#from_embed"
		 style="text-decoration: underline;">Tenancy Agreement Template</a> by <a title="View Gary Low's profile on Scribd" href="https://www.scribd.com/user/72738370/Gary-Low#from_embed"
		 style="text-decoration: underline;">Gary Low</a> on Scribd</p>
	<iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/355316769/content?start_page=1&view_mode=scroll&access_key=key-wX7KcvTCdD3dvymjnQ0p&show_recommendations=true"
	 data-auto-height="true" data-aspect-ratio="0.707221350078493" scrolling="no" id="doc_52758" width="null" height="null" frameborder="0"></iframe>
	<script type="text/javascript">
		(function () { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "https://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();
	</script>
	<p>Tenants also need to list all the occupants that will be moving into the property - an important aspect, since the landlord
		is supposed to know exactly who is staying at his or her place.</p>
	<p>The tenancy agreement has to be signed by both landlord and tenant, along with at least one witness. To avoid any potential misunderstanding, we advise that each party bring along a witness to sign the document.</p>

	<br>

</div>

<div class="container-fluid">
	<h3>Inventory List (or Schedule of Condition)</h3>
	<p>Every tenancy comes either unfurnished, partially furnished or fully furnished. Attached to the tenancy agreement, the inventory
		list states what is to be left in the unit for the tenant to use. The list has to be verified by the tenant and landlord,
		and each item should ideally be checked for its current condition.</p>
	<p>A sample list is shown below. However, even a basic list of items in point form may be sufficient with photos. Ensure everything
		is printed out and signed by both the landlord and tenant, and witnessed by at least a third party.</p>
	<p style=" margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">
		<a title="View Inventory List &#x2F; Schedule Of Condition on Scribd" href="https://www.scribd.com/document/354342204/Inventory-List-Schedule-Of-Condition#from_embed"
		 style="text-decoration: underline;">Inventory List &#x2F; Schedule Of Condition</a> by <a title="View Gary Low's profile on Scribd"
		 href="https://www.scribd.com/user/72738370/Gary-Low#from_embed" style="text-decoration: underline;">Gary Low</a> on Scribd</p>
	<iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/354342204/content?start_page=1&view_mode=scroll&access_key=key-5AF5AtGdaC2MbWgNiFCB&show_recommendations=true"
	 data-auto-height="true" data-aspect-ratio="0.7068965517241379" scrolling="no" id="doc_97777" width="null" height="null"
	 frameborder="0"></iframe>
	<script type="text/javascript">
		(function () { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "https://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();
	</script>
</div>

<br><br>
<div class="container-fluid">
	<hr className="hr-lg" />
	<h2>Step 6: Handover Keys and Move Out</h2>
	<p>Upon signing the tenancy agreement, you will hand over the keys on the agreed date. The first thing the tenant should do
		is to do an inspection, and run through the inventory list. You can also guide the tenant through the list.</p>
	<p>You can also remind the tenant to pay the stamp duty at <a href="https://estamping.iras.gov.sg/WebForms/Home.aspx" target="_blank">IRAS' e-Stamping portal</a>,
		and set up the water and power supply at <a href="http://www.singaporepower.com.sg/irj/servlet/prt/portal/prtroot/docs/guid/e08d42ac-9a50-3010-d191-83e0d6ac9c77?spstab=Our%20Services"
		 target="_blank">SP Services</a>.</p>
	<p>The standard tenancy agreement allows the tenant the right to “quiet enjoyment” of the property. However, the landlord may
		want to drop by occasionally to take a look at the place. While we advise against a regular check, an occasional friendly
		visit (perhaps to pass some homemade cookies) is still acceptable, provided the tenant is notified beforehand and an appointment
		is arranged. Surely, everyone hates to see the privacy intruded upon without any notice.</p>
	<p>By the time the lease draws near, the landlord may start marketing the property for a new tenant, or ask if the current
		tenant wishes to renew the lease. The whole process starts again… and as always, our team at Krib would be glad to see
		how we can help conduct your rentals smoothly and successfully.</p>

	<br>
	<hr className="hr-lg" />
	<div class="paragraph" style="text-align:left;"><strong>ADVISORY</strong>:&nbsp;The guide contains information about renting property in Singapore.&nbsp; The information
		is based on publicly available information and serves as a reference for tenants looking to rent an apartment or room.
		You must not rely on the information in the guide as an alternative to legal or financial advice from an appropriately
		qualified professional.</div>
</div>