<h2>Privacy Policy</h2>
<p>Effective date: 02 Mar 2017</p>
<br>
<p>Welcome to Krib ("Krib," "we," "us" or "our"). Krib connects tenants to landlords and agents, and helps improve the efficiency
	of the property search process.</p>
<br>
<ul>
	<li>Our Privacy Policy explains how we and some of the companies we work with collect, use, share and protect information in
		relation to our mobile services, web site, and any software provided on or in connection with Krib services (collectively,
		the "Service"), and your choices about the collection and use of your information.</li>
	<li>By using our Service you understand and agree that we are providing a platform for you to post content, including photos,
		comments and other materials ("User Content"), to the Service and to share User Content publicly. This means that other
		Users may search for, see, use, or share any of your User Content that you make publicly available through the Service,
		consistent with the terms and conditions of this Privacy Policy and our <a href="../pages/terms">Terms of Use.</a></li>
	<li>Our Policy applies to all visitors, users, and others who access the Service ("Users").</li>
</ul>
<br>
<h5>1. INFORMATION WE COLLECT</h5>
<p>We collect the following types of information.</p>
<p>Information you provide us directly:</p>
<ul>
	<li>Your username, password and e-mail address when you register for an Krib account.</li>
	<li>Profile information that you provide for your user profile (e.g., first and last name, picture, phone number). This information
		allows us to help you or others be "found" on Krib.</li>
	<li>User Content (e.g., photos, comments, and other materials) that you post to the Service.</li>
	<li>Communications between you and Krib. For example, we may send you Service-related emails (e.g., account verification, changes/updates
		to features of the Service, technical and security notices). Note that you may not opt out of Service-related e-mails.</li>
</ul>
<p>Analytics information:</p>
<ul>
	<li>We use third-party analytics tools to help us measure traffic and usage trends for the Service. These tools collect information
		sent by your device or our Service, including the web pages you visit, add-ons, and other information that assists us in
		improving the Service. We collect and use this analytics information with analytics information from other Users so that
		it cannot reasonably be used to identify any particular individual User.</li>
</ul>
<p>Cookies and similar technologies:</p>
<ul>
	<li>When you visit the Service, we may use cookies and similar technologies like pixels, web beacons, and local storage to collect
		information about how you use Krib and provide features to you.</li>
	<li>We may ask advertisers or other partners to serve ads or services to your devices, which may use cookies or similar technologies
		placed by us or the third party.</li>
</ul>
<p>Log file information:</p>
<ul>
	<li>Log file information is automatically reported by your browser each time you make a request to access (i.e., visit) a web
		page or app. It can also be provided when the content of the webpage or app is downloaded to your browser or device.</li>
	<li>When you use our Service, our servers automatically record certain log file information, including your web request, Internet
		Protocol ("IP") address, browser type, referring / exit pages and URLs, number of clicks and how you interact with links
		on the Service, domain names, landing pages, pages viewed, and other such information. We may also collect similar information
		from emails sent to our Users which then help us track which emails are opened and which links are clicked by recipients.
		The information allows for more accurate reporting and improvement of the Service.</li>
</ul>
<p>Device identifiers:</p>
<ul>
	<li>When you use a mobile device like a tablet or phone to access our Service, we may access, collect, monitor, store on your
		device, and/or remotely store one or more "device identifiers." Device identifiers are small data files or similar data
		structures stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier
		may be data stored in connection with the device hardware, data stored in connection with the device's operating system
		or other software, or data sent to the device by Krib.</li>
	<li>A device identifier may deliver information to us or to a third party partner about how you browse and use the Service and
		may help us or others provide reports or personalized content and ads. Some features of the Service may not function properly
		if use or availability of device identifiers is impaired or disabled.</li>
</ul>
<p>Metadata:</p>
<ul>
	<li>Metadata is usually technical data that is associated with User Content. For example, Metadata can describe how, when and
		by whom a piece of User Content was collected and how that content is formatted.</li>
	<li>Users can add or may have Metadata added to their User Content including a hashtag (e.g., to mark keywords when you post
		a photo), geotag (e.g., to mark your location to a photo), comments or other data. This makes your User Content more searchable
		by others and more interactive. If you geotag your photo or tag your photo using other's APIs then, your latitude and longitude
		will be stored with the photo and searchable (e.g., through a location or map feature) if your photo is made public by
		you in accordance with your privacy settings.</li>
</ul>
<br>
<h5>2. HOW WE USE YOUR INFORMATION</h5>
<p>In addition to some of the specific uses of information we describe in this Privacy Policy, we may use information that we
	receive to:</p>
<ul>
	<li>help you efficiently access your information after you sign in</li>
	<li>remember information so you will not have to re-enter it during your visit or the next time you visit the Service</li>
	<li>provide personalized content and information to you and others, which could include online ads or other forms of marketing</li>
	<li>provide, improve, test, and monitor the effectiveness of our Service</li>
	<li>develop and test new products and features</li>
	<li>monitor metrics such as total number of visitors, traffic, and demographic patterns</li>
	<li>diagnose or fix technology problems</li>
	<li>automatically update the Krib application on your device or run contests, special offers or other events or activities ("Events")
		on the Service</li>
</ul>
<br>
<h5>3. SHARING OF YOUR INFORMATION</h5>
<p>We will not rent or sell your information to third parties outside Krib without your consent, except as noted in this Policy.</p>
<p>Parties with whom we may share your information:</p>
<ul>
	<li>We may share User Content and your information (including but not limited to, information from cookies, log files, device
		identifiers, location data, and usage data) with businesses that are legally part of the same group of companies that Krib
		is part of, or that become part of that group ("Affiliates"). Affiliates may use this information to help provide, understand,
		and improve the Service (including by providing analytics) and Affiliates' own services (including by providing you with
		better and more relevant experiences). But these Affiliates will honor the choices you make about who can see your private
		data.
	</li>
	<li>We may share property listing information on online classifieds and social media sites, groups, pages or profiles to attract
		advertise listings and reach more tenants. No names, email addresses or contact numbers will be shared on these marketing
		channels.
	</li>
	<li>We also may share your information as well as information from tools like cookies, log files, and device identifiers and
		location data, with third-party organizations that help us provide the Service to you ("Service Providers"). Our Service
		Providers will be given access to your information as is reasonably necessary to provide the Service under reasonable confidentiality
		terms.
	</li>
	<li>We may also share certain information such as cookie data with third-party advertising partners. This information would
		allow third-party ad networks to, among other things, deliver targeted advertisements that they believe will be of most
		interest to you.</li>
	<li>We may remove parts of data that can identify you and share anonymized data with other parties. We may also combine your
		information with other information in a way that it is no longer associated with you and share that aggregated information.</li>
</ul>
<p>Parties with whom you may choose to share your User Content:</p>
<ul>
	<li>Any information or content that you voluntarily disclose for posting to the Service, such as interior photos of your home,
		becomes available to the public. </li>
	<li>Any User Content that you make public is searchable by other Users and subject to use. </li>
	<li>If you remove information that you posted to the Service, copies may remain viewable in cached and archived pages of the
		Service.
	</li>
</ul>
<p>What happens in the event of a change of control:</p>
<ul>
	<li>If we sell or otherwise transfer part or the whole of Krib or our assets to another organization (e.g., in the course of
		a transaction like a merger, acquisition, bankruptcy, dissolution, liquidation), your information such as name and email
		address, User Content and any other information collected through the Service may be among the items sold or transferred.
		You will continue to own your User Content. The buyer or transferee will have to honor the commitments we have made in
		this Privacy Policy.</li>
</ul>
<p>Responding to legal requests and preventing harm:</p>
<ul>
	<li>We may access, preserve and share your information in response to a legal request (like a search warrant, court order or
		subpoena) if we have a good faith belief that the law requires us to do so. This may include responding to legal requests
		from jurisdictions outside of Singapore where we have a good faith belief that the response is required by law in that
		jurisdiction, affects users in that jurisdiction, and is consistent with internationally recognized standards. We may also
		access, preserve and share information when we have a good faith belief it is necessary to: detect, prevent and address
		fraud and other illegal activity; to protect ourselves, you and others, including as part of investigations; and to prevent
		death or imminent bodily harm. Information we receive about you may be accessed, processed and retained for an extended
		period of time when it is the subject of a legal request or obligation, governmental investigation, or investigations concerning
		possible violations of our terms or policies, or otherwise to prevent harm.</li>
</ul>
<br>
<h5>4. HOW WE STORE YOUR INFORMATION</h5>
<p>Storage and Processing:</p>
<ul>
	<li>Your information collected through the Service may be stored and processed in Singapore or any other country in which Krib,
		its Affiliates or Service Providers maintain facilities.</li>
	<li>Krib, its Affiliates, or Service Providers may transfer information that we collect about you, including personal information
		across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located
		in the European Union or other regions with laws governing data collection and use that may differ from Singapore law,
		please note that we may transfer information, including personal information, to a country and jurisdiction that does not
		have the same data protection laws as your jurisdiction.</li>
	<li>By registering for and using the Service you consent to the transfer of information to Singapore or to any other country
		in which Krib, its Affiliates or Service Providers maintain facilities and the use and disclosure of information about
		you as described in this Privacy Policy.</li>
	<li>We use commercially reasonable safeguards to help keep the information collected through the Service secure and take reasonable
		steps (such as requesting a unique password) to verify your identity before granting you access to your account. However,
		Krib cannot ensure the security of any information you transmit to Krib or guarantee that information on the Service may
		not be accessed, disclosed, altered, or destroyed.</li>
	<li>Please do your part to help us. You are responsible for maintaining the secrecy of your unique password and account information,
		and for controlling access to emails between you and Krib, at all times. Your privacy settings may also be affected by
		changes the social media services you connect to Krib make to their services. We are not responsible for the functionality,
		privacy, or security measures of any other organization.</li>
</ul>
<br>
<h5>5. YOUR CHOICES ABOUT YOUR INFORMATION</h5>
<p>Your account information:</p>
<ul>
	<li>Update your account at any time by logging in.</li>
	<li>Unsubscribe from email communications from us by clicking on the "unsubscribe link" provided in such communications. As
		noted above, you may not opt out of Service-related communications (e.g., account verification, purchase and billing confirmations
		and reminders, changes/updates to features of the Service, technical and security notices).</li>
</ul>
<br>
<h5>6. CHILDREN'S PRIVACY</h5>
<ul>
	<li>Krib does not knowingly collect or solicit any information from anyone under the age of 13 or knowingly allow such persons
		to register for the Service. The Service and its content are not directed at children under the age of 13. In the event
		that we learn that we have collected personal information from a child under age 13 without parental consent, we will delete
		that information as quickly as possible. If you believe that we might have any information from or about a child under
		13, please contact us.</li>
</ul>
<br>
<h5>7. OTHER WEB SITES AND SERVICES</h5>
<ul>
	<li>We are not responsible for the practices employed by any websites or services linked to or from our Service, including the
		information or content contained within them. Please remember that when you use a link to go from our Service to another
		website or service, our Privacy Policy does not apply to those third-party websites or services. Your browsing and interaction
		on any third-party website or service, including those that have a link on our website, are subject to that third party's
		own rules and policies. In addition, you agree that we are not responsible and do not have control over any third-parties
		that you authorize to access your User Content. If you are using a third-party website or service and you allow them to
		access your User Content you do so at your own risk.</li>
</ul>
<br>
<h5>8. HOW TO CONTACT US</h5>
<p>If you have any questions about this Privacy Policy or the Service, please contact us at hello@krib.co.</p>
<br>
<h5>9. CHANGES TO OUR PRIVACY POLICY</h5>
<p>Krib may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you additional
	forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of Krib or the Service
	after any modification to this Privacy Policy will constitute your acceptance of such modification.</p>