<meta property="og:site_name" content="Krib: Intelligent Search Platform For Real Estate Rentals" />
<meta property="og:title" content="Tenant Guide to Renting in Singapore" />
<meta property="og:description" content="Comprehensive guide to renting a property in Singapore legally." />
<meta property="og:url" content="http://www.krib.co/pages/tenant-guide-to-renting.html" />
<meta name="description" content="Comprehensive guide to renting a property in Singapore legally." />
<meta name="keywords" content="renting a property in singapore, tenant guide to renting in sg, how to rent property in sg"
/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<div class="container-fluid">
	<h1>How To Rent An Apartment Or Room In Singapore - A Detailed Guide For Tenants</h1>
	<br>
	<h2>Step 1: Are you allowed to rent?</h2>
	<p>Singapore has strict regulations governing residential property rentals, especially for foreigners. Generally speaking,
		renting an HDB follows stricter guidelines than private property. Here's a quick summary of the differences between each
		type of housing, and the criteria to rent.</p>
	<br>
</div>
<div class="row">
	<div class="col-lg-4" style="text-align:left">
		<div class="col-lg-12">
			<img src="/public/images/hdbApartment.jpg" class="btn-block" alt="HDB image" style="width:100%">
		</div>
		<div class="col-lg-12" style="text-align:left">
			<br>
			<h3>HDB</h3>
			<p>State-built (and subsidised) housing for the majority of the population. Unlike most state-built housing in other countries,
				the HDB flat is built for a high quality of living.</p>
			<p>HDB is generally cheaper to rent, but also comes with more regulations on both the landlords and the tenants. Do ensure
				that proper checks on the landlord and property are done before signing a tenancy agreement.</p>

			<ul><strong>Lease Period</strong>
				<li>6 - 36 months (Singaporeans or Malaysians)</li>
				<li>6 - 18 months (Other non-citizens)</li>
			</ul>


			<ul><strong>Documents Required</strong>
				<li>Valid employment pass or</li>
				<li>Valid work permit* or</li>
				<li>Valid long-term social visit pass or</li>
				<li>Valid student pass</li>
				<li>All documents must have at least 6 months validity</li>
			</ul>
			<p><i>*Non-Malaysian foreigners cannot be working in the marine, process or construction sectors.</i></p>
			<p><i>Also, non-Malaysian foreigners working in the manufacturing sector can only rent HDB rooms.</i></p>

		</div>



	</div>

	<div class="col-lg-4" style="text-align:left">
		<div class="col-lg-12">
			<img src="/public/images/condominium.jpg" class="btn-block" alt="Condominium image" style="width:100%">
		</div>
		<div class="col-lg-12" style="text-align:left">
			<br>
			<h3>Condos / Apartments</h3>
			<p>Private high-rise housing that usually comes with facilities like swimming pools, gyms and 24-hour security. Rent prices
				vary widely by location and the prestige factor.</p>
			<p>Condominiums and apartments are generally more expensive to rent. However, the regulations on renting private property
				are less strict.</p>

			<ul><strong>Lease Period</strong>
				<li>3 months or more</li>
			</ul>

			<ul><strong>Documents Required</strong>
				<li>Valid employment pass or</li>
				<li>Valid work permit or</li>
				<li>Valid long-term social visit pass or</li>
				<li>Valid student pass</li>
			</ul>
		</div>

	</div>

	<div class="col-lg-4" style="text-align:left">
		<div class="col-lg-12">
			<img src="/public/images/landedHouse.jpg" class="btn-block" alt="Landed housing" style="width:100%">
		</div>
		<div class="col-lg-12" style="text-align:left">
			<br>
			<h3>Landed Property</h3>
			<p>Landed property refers to non-high-rise housing, bungalows, terraced houses etc. Go for this if you need more living space,
				or aren't used to an apartment.</p>
			<p>Renting a landed property comes at a steeper premium, but per square area, it will probably cost less than an apartment.
				Rent only if you can afford it.</p>

			<ul><strong>Lease Period</strong>
				<li>3 months or more</li>
			</ul>

			<ul><strong>Documents Required</strong>
				<li>Valid employment pass or</li>
				<li>Valid work permit or</li>
				<li>Valid long-term social visit pass or</li>
				<li>Valid student pass</li>
			</ul>
		</div>
	</div>
</div>


<br>
<div class="container-fluid">
	<h3>What do I need to prepare beforehand?</h3>
	<p>Photocopy your passport, <a href="http://www.mom.gov.sg/passes-and-permits" target="_blank">employment pass</a> and set
		aside enough money for two (2) months rental (one for the good-faith deposit and one for the first month's rental).
	</p>
	<p>For a 2 year lease, the security deposit payable will be 2 months. Upon signing the tenancy agreement, you'll need to top
		it up with another 1 month's rent.</p>
	<br>

	<hr className="hr-lg" />
	<h2>Step 2: Finding a place to rent</h2>
	<p>The easiest place to start is the online portals. These websites are mostly agent-listed (by the landlord's agent). The
		most popular portal is <a href="http://www.propertyguru.com.sg/" target="_blank">PropertyGuru</a>, but other alternatives
		include <a href="http://www.iproperty.com.sg/" target="_blank">iProperty</a>, <a href="http://www.stproperty.com.sg/" target="_blank">ST Property</a>		and <a href="http://www.99.co/" target="_blank">99.co</a>.</p>
	<p>Landlords may also list their own property online, mostly through classifieds websites, forums and social media groups.
		You can check out <a href="http://singapore.craigslist.com.sg/" target="_blank">Craigslist</a>, <a href="http://www.gumtree.sg/"
		 target="_blank">GumTree</a> and <a href="http://www.stclassifieds.sg/" target="_blank">ST Classifieds</a>. You can also
		find rooms to share on many public Facebook groups.</p>

	<br>
	<h3>Viewing the property</h3>
	<p>Once you've identified a potential place to rent, call the owner or agent to make a viewing appointment. The viewing appointment
		allows you to take a look at the actual condition of the house and the nearby transportation and amenities available.
	</p>
	<p>During the viewing, try to find potential issues that may arise during your lease. Common areas to check include:</p>
	<ul>
		<li>Light bulbs flicker for a while when turned on</li>
		<li>Taps have small leaks every few minutes.</li>
		<li>Cracks on the wall, no matter how small.</li>
		<li>Brightness of the room during the day. Does sunlight reach the interior?</li>
		<li>Restrictions on cooking, as some landlords only permit light cooking <i>(e.g boiling water, making instant noodles)</i></li>
		<li>Furnishings that come with the lease, and the condition that they are in</li>
		<li>Transportation options to the nearest supermarket, your workplace etc.</li>
		<li>Tenants with cars may ask about season or reserved parking</li>
	</ul>
	<p>Read our <a href="/pages/comprehensive-guide-to-property-viewing">comprehensive guide to property viewing</a> to understand
		what to look out for.</p>
	<br>
</div>

<div class="row container-fluid">
	<div class="col-lg-6 ">
		<h3>For HDB rentals</h3>
		<h4>Confirmation from HDB to rent whole flat</h4>
		<p>If you're looking to rent a <strong>whole HDB flat</strong>, you can ask the owner to show a screenshot from the HDB website
			stating that the <a href="http://www.hdb.gov.sg/cs/infoweb/residential/renting-out-a-flat-bedroom/renting-out-your-flat/eligibility#rentingutourlatligibilityeligibilityconditionsforflatowners13837976293221"
			 target="_blank">flat is permitted for subletting</a>.</p>

		<br>
		<h4>Foreign residents quota</h4>
		<p>HDB maintains a non-citizen to citizen ratio of residents, to prevent the formation of racial or cultural enclaves. You
			can check online if the <a href="http://www.hdb.gov.sg/subletting-quota" target="_blank">subletting quota of a particular apartment block</a>			is already full.</p>
	</div>

	<div class="col-lg-6">
		<h3>For landed property rentals</h3>
		<h4>Ownership check</h4>
		<p>For private property, potential tenants can do an optional step of verifying the ownership of a property through
			<a href="https://www.sla.gov.sg/inlis/" target="_blank">INLIS</a>, managed by the Singapore Land Authority. This involves
			a cost though, which can be paid online.</p>
		<p>To get a copy of the electronic title deed, simply select "Property Ownership Information" <i>(S$5.25)</i>, fill in the
			property address, add it to the shopping cart, and make payment using Visa or NETS. The title deed will then be emailed
			to you within minutes.</p>
	</div>
</div>

<br>
<br>
<div class="container-fluid">
	<h3>Is the price right?</h3>
	<p>​If you’ve not been actively monitoring the rental market, you’ll be hard-pressed to decide if the asking rent is reasonable.
		HDB and URA publish quarterly data on the latest transacted rentals, so you can take a look at the <a href="http://www.hdb.gov.sg/cs/infoweb/residential/renting-a-flat/renting-from-the-open-market/rental-statistics"
		 target="_blank">median rent of an HDB estate</a>, the <a href="https://services2.hdb.gov.sg/webapp/BR12AWRentalEnquiry/BR12PSearch.jsp"
		 target="_blank">latest rent by HDB block</a>, or the <a href="https://www.ura.gov.sg/realEstateIIWeb/resiRental/search.action">latest rent for a condominium project</a>.</p>
	<p>Generally, the asking price for rentals should not differ by more than S$200 dollars, unless the unit is highly sought after.
		You can further negotiate on the duration of rent, the furnishings of the house, and handling all minor repair works.
	</p>
	<br>
	<hr className="hr-lg" />
	<h2>Step 3: Making an offer</h2>
	<p>After much deliberation, you’ve made up your mind on a property. The next step is to draft a <i>Letter of Intent</i>, a
		formal document that serves notice to a landlord that you would like to rent his/her property.</p>
	<p> For some people, all it takes is a handshake, a hastily signed note, and two month’s rent to start with. That’s a terrible
		idea, however. Without conducting proper due diligence, the tenant has no protection from a myriad of situations, including
		eviction, property damage, and the forfeit of the deposit.</p>

	<h3>Letter of Intent</h3>
	<p>The <a href="https://www.scribd.com/document/354337835/Letter-of-Intent" target="_blank">letter of intent (LOI)</a> includes
		specific requests like the diplomatic clauses, whether the tenant wants the property furnished or unfurnished, and if he
		or she would like to cook within the property etc. In short – this is what the landlord <i>should</i> include in the tenancy
		agreement if the offer to rent is accepted.</p>
	<p>An LOI should also carry a clause specifying an expiration date. If a landlord does not sign the LOI within a certain period,
		the letter will expire and the landlord will then be required to return the booking deposit (see below) immediately.</p>

	<p style=" margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">
		<a title="View Letter of Intent on Scribd" href="https://www.scribd.com/document/354337835/Letter-of-Intent#from_embed" style="text-decoration: underline;">Letter of Intent</a>		by <a title="View Gary Low's profile on Scribd" href="https://www.scribd.com/user/72738370/Gary-Low#from_embed" style="text-decoration: underline;">Gary Low</a>		on Scribd</p>
	<iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/354337835/content?start_page=1&view_mode=scroll&access_key=key-kQBPdiNI7FnGnCNNrw33&show_recommendations=false"
	 data-auto-height="true" data-aspect-ratio="0.707221350078493" scrolling="no" id="doc_69421" width="null" height="null" frameborder="0"></iframe>
	<script type="text/javascript">
		(function () { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "https://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();
	</script>

	<br>
	<br>
	<h3>The Booking Deposit (Or Good-Faith Deposit)</h3>
	<p>Along with issuing the letter of intent, tenants usually offer a month’s rent as a deposit of good faith. When the letter
		of intent is signed and the deposit is accepted by the landlord, the landlord may not offer the property to anyone else
		for rent. A tenancy agreement can then be drafted out by the landlord.</p>
	<p>A month’s rent is usually the norm for a booking or good-faith deposit. Once the tenancy agreement is signed, the deposit
		can be kept as the security deposit that the landlord will hold until the end of the tenancy, or as the first month’s rent.
	</p>
	<p>For a 2 year lease, the tenant usually sets aside 2 month's rent as the security deposit. Hence he or she will need to top
		up with an extra 1 month's rent amount to make up the security deposit.</p>
	<p>​If the deal falls through, the landlord has to return the booking deposit. Both tenant and landlord should have a copy
		of the letter of intent, with the amount offered as booking deposit, to ensure there’s no misunderstanding on this!</p>
	<p>The booking deposit is usually handed over by:
		<ul>
			<li>Cheque</li>
			<li>Cash with receipt issued</li>
			<li>Interbank fund transfer directly to the landlord's bank account</li>
		</ul>
	</p>
</div>

<br>
<hr className="hr-lg" />
<div class="container-fluid">
	<h2>Step 4: Signing the Tenancy Agreement</h2>
	<p>Upon receiving the letter of intent, the landlord is formally informed of your interest in renting the property. If the
		landlord is agreeable to the transaction, he or she will draft the tenancy agreement, sign it, and send it over to you
		for signing. Note that negotiations are still very much in play here – for instance, you might offer to pay a monthly rent
		of $2,000, but the landlord might counter with a monthly rental of $2,500 through the tenancy agreement.</p>
	<p>​The tenancy agreement is the legally binding document that defines the rental. Hence, do include every important term and
		condition in the document – the rent payable, the rent period, any diplomatic clauses, who foots the bill for repairs,
		who pays for the agent, does the tenant pay stamp duty etc. The more you’re covered here, the less ambiguity you’ll encounter
		dealing with the landlord during the course of the lease.</p>

	<br>
</div>
<div class="container-fluid">
	<h3>What's covered in a standard tenancy agreement?</h3>
	<p>Generally, a tenancy agreement should include:</p>
</div>
<div class="row container-fluid">
	<div class="col-lg-4">
		<p><strong>Landlord and Tenant Details</strong></p>
		<ul>
			<li>Landlord and Tenant's full name</li>
			<li>Landlord and Tenant's NRIC/passport number</li>
			<li>Landlord and Tenant's current address</li>
			<li>Any registered occupier name(s)</li>
			<li>Any registered occupier NRIC/passport number</li>
		</ul>
	</div>

	<div class="col-lg-4">
		<p><strong>Lease Details</strong></p>
		<ul>
			<li>​Address of property for rental</li>
			<li>Date of commencement of lease</li>
			<li>Duration of rental</li>
			<li>Monthly rent amount</li>
			<li>Security deposit amount</li>
			<li>Inventory list</li>
			<li>List of defects present in the property</li>
		</ul>
	</div>

	<div class="col-lg-4">
		<p><strong>Lease Conditions</strong></p>
		<ul>
			<li>​Who pays utilities and phone bills?</li>
			<li>Who pays for repairs, and up to what amount?</li>
			<li>​When can the landlord recommence property viewings as the lease ends?</li>
			<li>When and how can an agent, workmen or surveyor visit the property?</li>
			<li>Who maintains the air-conditioner?</li>
			<li>Who maintains the garden?</li>
			<li>Who pays the property tax and insurance?</li>
			<li>What defines a rent default, and how can the landlord recover the money?</li>
			<li>What is the interest payable for late payments?</li>
			<li>What happens if a tenant has to leave Singapore permanently? </li>
			<li>Is there an option to renew before the lease is up?</li>
			<li>What happens if the property is damaged to an extent that it is unfit for habitation?</li>
			<li>What happens if the property is planned for en-bloc redevelopment?</li>
			<li>Under which country's legal system is the contract governed by?</li>
			<li>Who pays the stamp duty?</li>
		</ul>
	</div>
</div>

<br>
<div class="container-fluid">
	<h3>Tenancy Agreement Template</h3>
	<p>For most residential tenancies, this template will include all the standard clauses.</p>
	<p style=" margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">
		<a title="View Tenancy Agreement Template on Scribd" href="https://www.scribd.com/document/355316769/Tenancy-Agreement-Template#from_embed"
		 style="text-decoration: underline;">Tenancy Agreement Template</a> by <a title="View Gary Low's profile on Scribd" href="https://www.scribd.com/user/72738370/Gary-Low#from_embed"
		 style="text-decoration: underline;">Gary Low</a> on Scribd</p>
	<iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/355316769/content?start_page=1&view_mode=scroll&access_key=key-wX7KcvTCdD3dvymjnQ0p&show_recommendations=true"
	 data-auto-height="true" data-aspect-ratio="0.707221350078493" scrolling="no" id="doc_62667" width="null" height="null" frameborder="0"></iframe>
	<script type="text/javascript">
		(function () { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "https://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();
	</script>

</div>
<br>
<br>
<div class="container-fluid">
	<hr className="hr-lg" />
	<h2>Step 5: Taking over the property</h2>
	<p>After the tenancy agreement is signed, it's time for the tenant to take over the property on the stipulated date. However,
		there are still a few more things to do before the transaction can be concluded.</p>

	<br>
	<h3>Inventory List (or Schedule of Condition)</h3>
	<p>The rental property may come unfurnished, partially furnished or fully furnished. During the handover of the property, the
		tenant should formally list down every item that comes with the property, along with its current condition. At the end
		of the lease, the furnishings should be returned in its' original state.</p>
	<p>Tenants should also list down any existing problems with the unit like leaking pipes, holes in the walls, unsightly stains,
		cracked tiles and non-functioning switches. Keeping a record of theses issues (with photographs where possible) will help
		if any disputes arise later.</p>
	<p>An inventory checklist should be backed up with photos, signed by both the landlord and tenant, and witnessed by at least
		a third party.</p>

	<p style=" margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block;">
		<a title="View Inventory List &#x2F; Schedule Of Condition on Scribd" href="https://www.scribd.com/document/354342204/Inventory-List-Schedule-Of-Condition#from_embed"
		 style="text-decoration: underline;">Inventory List &#x2F; Schedule Of Condition</a> by <a title="View Gary Low's profile on Scribd"
		 href="https://www.scribd.com/user/72738370/Gary-Low#from_embed" style="text-decoration: underline;">Gary Low</a> on Scribd</p>
	<iframe class="scribd_iframe_embed" src="https://www.scribd.com/embeds/354342204/content?start_page=1&view_mode=scroll&access_key=key-5AF5AtGdaC2MbWgNiFCB&show_recommendations=true"
	 data-auto-height="true" data-aspect-ratio="0.7068965517241379" scrolling="no" id="doc_42971" width="null" height="null"
	 frameborder="0"></iframe>
	<script type="text/javascript">
		(function () { var scribd = document.createElement("script"); scribd.type = "text/javascript"; scribd.async = true; scribd.src = "https://www.scribd.com/javascripts/embed_code/inject.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(scribd, s); })();
	</script>
</div>

<div class="container-fluid">
	<br><br>
	<h3>Stamp Duty</h3>
	<p>Paying your dues to the government is important to a tenant, even though some landlords might assure you that no one else
		needs to know about the lease arrangement. By paying stamp fees on the tenancy agreement, it notifies the tax authorities
		that the property is now "non-owner-occupied", and the property tax payable for the owner increases.</p>
	<p>However, when the tenant that pays the stamp duty, the law recognises that the rental is legal. Hence, if there is a future
		dispute where the landlord threatens to evict the tenant, there is some basis for the tenant to contest the case.
	</p>
	<p>For a lease exceeding $1,000 in annual average rent, the stamp duty is currently calculated as 0.4% of the total amount
		of the lease. However, do check with <a href="https://www.iras.gov.sg/irashome/Other-Taxes/Stamp-Duty-for-Property/Working-out-your-Stamp-Duty/Renting-a-Property/"
		 target="_blank">IRAS</a> for the latest tax rates.</p>
	<p>To pay stamp duty, tenants will have to log in to the <a href="https://estamping.iras.gov.sg/WebForms/Home.aspx" target="_blank">e-Stamping portal</a> and fill in the details of the lease on the online form. The stamp duty is calculated, and the tenant can pay by eNETS.
	</p>
	<br>
	<img src="/public/images/stamp-duty-rates.png" class="btn-block " alt="stamp duty rates by IRAS" style="width:50%">

	<br>
	<h3>Public Utilities and Telecommunications</h3>
	<p>Some landlords may keep the water and power supply running, and just claim from the tenant for the monthly utility bill.
		Others may prefer to cancel their own utilities account, and get the tenant to open his or her own account with Singapore
		Power (SP) and the Public Utilities Board (PUB).</p>
	<p>Fortunately, opening an account and restarting the water and power supply is very easy. Simply fill in the online form from
		<a href="http://www.singaporepower.com.sg/irj/servlet/prt/portal/prtroot/docs/guid/e08d42ac-9a50-3010-d191-83e0d6ac9c77?spstab=Our%20Services"
		 target="_blank">SP Services</a>, and follow the rest of the steps as directed by the website.</p>
	<p>To register for a telephone landline, you'll need to go down to one of the three major telecommunications service provider
		- <a href="http://info.singtel.com/personal/phones-plans/telephone-services/home-line" target="_blank">Singtel</a>,
		<a href="http://www.starhub.com/personal/voice/digital-voice-home.html" target="_blank">Starhub</a> or <a href="https://www.m1.com.sg/personal/home-broadband">M1</a>,
		and talk to a sales representative to sign up for an account.</p>

	<br>
	<h3>​You’re all set!</h3>
	<p>So there you have it! You're ready to settle into your new home for the near future. There's more to explore - perhaps a
		spot of "non-destructive" interior designing. Just remember to keep a friendly relationship with the landlord, and keep
		each other notified if there's work to be done in the property. </p>
	<br>

	<hr className="hr-lg" />
	<div class="paragraph" style="text-align:left;"><strong>ADVISORY</strong>:&nbsp;The guide contains information about renting property in Singapore.&nbsp; The information
		is based on publicly available information and serves as a reference for tenants looking to rent an apartment or room.
		You must not rely on the information in the guide as an alternative to legal or financial advice from an appropriately
		qualified professional.
	</div>
</div>